{% extends "base.html.twig" %}

{% block body %}

    <section class="content-panel form-auth">
        <div>
            {{ 'registration.confirmed'|trans }}
            <hr>
        </div>

        {{ form_start(form) }}

        {{ form_row(form.title) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        <div class="hidden">
            {{ form_row(form.country) }}
            {{ form_row(form.firstLogin) }}
        </div>
        {{ form_row(form.timezone) }}
        {{ form_row(form.agree) }}

        <div>
            <input type="submit" class="btn btn-primary"
                   value="{{ 'app.user.save_and_proceed'|trans }}"/>
        </div>


        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </section>

{% endblock %}
