{#
{% block app_phone_widget %}

    <div class="pull-left margin-right-5 {% if form.phoneType.vars.errors and form.phoneType.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_widget(form.phoneType) }}
        {{ form_errors(form.phoneType) }}
    </div>

    <div class="pull-left margin-right-5 {% if form.phoneNumber.vars.errors and form.phoneNumber.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_widget(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
    </div>

{% endblock %}

{% block app_related_patient_widget %}

    {{ form_start(form.patientRelationship) }}
    <div class="pull-left margin-right-5 {% if form.patientRelationship.vars.errors and form.patientRelationship.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_widget(form.patientRelationship) }}
        {{ form_errors(form.patientRelationship) }}
    </div>
    {{ form_end(form.patientRelationship) }}

    {{ form_start(form.patient) }}
    <div class="pull-left margin-right-5 {% if form.patient.vars.errors and form.patient.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_widget(form.patient) }}
        {{ form_errors(form.patient) }}
    </div>
    {{ form_end(form.patient) }}

{% endblock %}
#}

{% block app_invoice_due_date_selector_widget %}

    <div class="form-group">
        {{ form_label(form) }}
        <div class="col-sm-10">
            <div class="pull-left margin-right-5">
                {{ form_widget(form.value) }}
            </div>
            <div class="pull-left">
                {{ form_widget(form.customValue) }}
            </div>
            <div class="clearfix"></div>

            <div class="{% if form.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $('body').on('change', '#{{ form.value.vars.id }}', function () {
                if ($(this).val() == 'Custom') {
                    $('#{{ form.customValue.vars.id }}').parents('div:first').show();
                } else {
                    $('#{{ form.customValue.vars.id }}').val('').parents('div:first').hide();
                }
            });

            $('#{{ form.value.vars.id }}').trigger('change');
        })
    </script>

{% endblock %}
