{# use "bootstrap_3_horizontal_layout.html.twig" #}
{% use "bootstrap_3_layout.html.twig" %}

{% block file_widget -%}
    {% spaceless %}
        <div class="row no-gutter">
            <div class="col-md-12 {% if form.vars.errors and form.vars.errors|length > 0 %}has-error{% endif %}">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control" data-trigger="fileinput" style="overflow: hidden !important; max-width: 100% !important;">
                        {#<i class="glyphicon glyphicon-file fileinput-exists pull-left"></i>#}
                        <span class="fileinput-filename" style="{#white-space: nowrap !important;#}"></span>
                    </div>
                    <span class="input-group-addon btn btn-default btn-file">
                <span class="fileinput-new">Select file</span>
                <span class="fileinput-exists">Change</span>
                <input type="file" {{ block('widget_attributes') }}>
            </span>
                    <a href="#" class="input-group-addon btn btn-default fileinput-exists"
                       data-dismiss="fileinput">Remove</a>
                </div>
                {#
                {{ form_errors(form) }}
                #}
            </div>
        </div>
    {% endspaceless %}
{%- endblock file_widget %}

{% block app_colorpicker_widget -%}
    {% spaceless %}
        <div class="input-group colorpicker-component cp">
            {{ form_widget(form) }}
            <span class="input-group-addon"><i></i></span>
        </div>
        <script>
            $(document).ready(function () {
                $("#{{ form.vars.id }}").click(function () {
                    $(this).parents(".colorpicker-component:first").find(".input-group-addon").trigger("click");
                });
            })
        </script>
    {% endspaceless %}
{%- endblock app_colorpicker_widget %}

{% block app_concession_prices_widget -%}
    {% spaceless %}
        {% for price in form %}
            {{ form_row(price.price) }}
        {% endfor %}
    {% endspaceless %}
{%- endblock app_concession_prices_widget %}

{% block app_treatment_note_field_widget %}
    {% import "@App/macros.html.twig" as macros %}

    <div class="form-group {{ macros.errorClass(form) }}">
        {{ form_widget(form) }}
        {#<p class="text-muted small">{{ form.notes.vars.value }}</p>#}
        {{ form_errors(form) }}
    </div>
{% endblock %}

{% block app_date_widget %}
    <div class="input-group">
        {{ form_widget(form) }}
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
{% endblock %}

{% block app_datetime_widget %}
    <div class="input-group">
        {{ form_widget(form) }}
        <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
    </div>
{% endblock %}

{% block app_variables_textarea_widget %}
    <div class="variables margin-bottom-10">
        <span class="margin-right-5">{{ 'app.settings.variables'|trans }}: </span>
        {% for variable, variableName in form.vars.variables %}
            <span data-var="{{ variable }}" id="{{ form.vars.id }}_var" class="label label-primary variable-add">
                {{ variableName|trans }}
            </span>
        {% endfor %}
    </div>

    <div>
        {{ form_widget(form,{'attr':{'class':'variables-textarea'}}) }}
    </div>

    <script>
        $(document).ready(function () {
            $("body").on("click", "#{{ form.vars.id }}_var.variable-add", function () {
                var variable = $(this).attr('data-var');

                var txt = $("#{{ form.vars.id }}");
                var caretPos = txt[0].selectionStart;
                var textAreaTxt = $(txt).val();
                var txtToAdd = "{{ '{{ ' }}" + variable + "{{ ' }}' }}";
                $(txt).val(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos));
                //$(txt).focus();
            });
        });
    </script>

    {#
    <div class="{% if form.vars.errors|length > 0 %}has-error{% endif %}">
        {{ form_errors(form) }}
    </div>
    #}
{% endblock %}

{% block app_invoice_due_date_selector_widget %}

    <div class="form-group">
        <div class="pull-left margin-right-5">
            {{ form_widget(form.value) }}
        </div>
        <div class="pull-left">
            {{ form_widget(form.customValue) }}
        </div>
        <div class="clearfix"></div>

        <div class="{% if form.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_errors(form) }}
        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {

            $('body').on('change', '#{{ form.value.vars.id }}', function () {
                if ($(this).val() == 'Custom') {
                    $('#{{ form.customValue.vars.id }}').parents('div:first').show();
                } else {
                    $('#{{ form.customValue.vars.id }}').val('').parents('div:first').hide();
                }
            });

            $('#{{ form.value.vars.id }}').trigger('change');
        })
    </script>

{% endblock %}

{% block app_related_patient_widget %}
    <div class="row no-gutter">
        <div class="col-sm-4">
            {{ form_row(form.patient) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.patientRelationship) }}
        </div>
        <div class="col-sm-4">
            <a href="#" id="delete-related-patient"
               class="btn btn-default">{{ 'app.action.remove'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block app_phone_widget %}
    <div class="row no-gutter">
        <div class="col-sm-2">
            {{ form_row(form.phoneType) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.phoneNumber) }}
        </div>
        <div class="col-sm-6">
            <a href="#" id="delete-phone"
               class="btn btn-default">{{ 'app.action.remove'|trans }}</a>
        </div>
    </div>
{% endblock %}

{% block app_treatment_note_template_field_widget %}
    <div class="well">
        <div class="row no-gutter">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
            </div>
            {#
            <div class="col-sm-6">
                {{ form_row(form.notes) }}
            </div>
            #}
        </div>
        <div class="row no-gutter">
            <div class="col-sm-12">
                {{ form_row(form.position) }}
                <div class="pull-left margin-right-5">
                    <a href="#" id="app-field-up"
                       class="btn btn-default margin-right-5"><span class="glyphicon glyphicon-arrow-up"></span></a>
                    <a href="#" id="app-field-down"
                       class="btn btn-default margin-right-5"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="#" id="delete-field"
                       class="btn btn-default margin-right-5">{{ 'app.action.remove'|trans }}</a>
                </div>
                <div class="pull-right">
                    {{ form_row(form.mandatory) }}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_event_resource_widget %}
    <div class="well">
        <div class="row no-gutter">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-sm-12">
                {{ form_row(form.position) }}
                <div class="display-none">
                    {{ form_row(form.default) }}
                </div>
                <div class="pull-left margin-right-5">
                    <a href="#" id="app-resource-up"
                       class="btn btn-default margin-right-5"><span class="glyphicon glyphicon-arrow-up"></span></a>
                    <a href="#" id="app-resource-down"
                       class="btn btn-default margin-right-5"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    {% if not form.vars.is_default_resource %}
                        <a href="#" id="delete-resource"
                           class="btn btn-default margin-right-5">{{ 'app.action.remove'|trans }}</a>
                    {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_invoice_payment_widget %}
    <div class="row no-gutter">
        <div class="col-sm-4">
            {{ form_row(form.date) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.amount) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.paymentMethod) }}
        </div>
        <div class="col-sm-1">
            <label class="control-label">&nbsp;</label>
            <div>
                <a href="#" id="delete-payment"
                   class="btn btn-default">{{ 'app.invoice_payment.delete'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block app_invoice_refund_item_widget -%}
<tr>
    <td width="100%">
        <div class="position-relative name-block">
            {% if form.item.vars.data %}
                {{ form.item.vars.data.name }}
            {% else %}
                {{ form.name.vars.value }}
            {% endif %}

            {{ form_widget(form.name) }}
        </div>
        <div class="position-relative item-block" style="display:none;">
            {{ form_widget(form.item) }}
        </div>
    </td>
    <td>
        {{ form_widget(form.paid,{'attr':{'style':'width:130px;'}}) }}
    </td>
    <td>
        <div class="{% if form.amount.vars.errors and form.amount.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_widget(form.amount,{'attr':{'style':'width:130px;'}}) }}
            {{ form_errors(form.amount) }}
        </div>
    </td>
<tr>
    {%- endblock app_invoice_refund_item_widget %}

    {% block app_time_widget %}
        <div class="app-time-value display-none" id="{{ form.vars.unique_id }}">
            {{ form_widget(form) }}
        </div>
        <div class="input-group app-time" role="group" id="{{ form.vars.unique_id }}" style="width: 150px;">
            <select name='h' class="form-control"
                    style="width: 33%; position: relative; font-size: 14px; padding: 2px;">
                {% for h in form.vars.hours %}
                    <option value="{{ h }}" {{ form.vars.h == h ? 'selected':'' }}>{{ h }}</option>
                {% endfor %}
            </select>
            <select name='m' class="form-control"
                    style="width: 33%; position: relative; left: -1px; font-size: 14px; padding: 2px;">
                {% for m in form.vars.minutes %}
                    <option value="{{ m }}" {{ form.vars.m == m ? 'selected':'' }}>{{ m }}</option>
                {% endfor %}
            </select>
            <select name='ampm' class="form-control"
                    style="width: 33%; position: relative; left: -2px; font-size: 14px; padding: 2px;">
                <option value="AM" {{ form.vars.ampm == "AM" ? 'selected':'' }}>AM</option>
                <option value="PM" {{ form.vars.ampm == "PM" ? 'selected':'' }}>PM</option>
            </select>
        </div>

        <script>
            $(document).ready(function () {
                $("body").on('change', '.app-time#{{ form.vars.unique_id }} select', function () {
                    var h = $('.app-time#{{ form.vars.unique_id }} select[name="h"]').val();
                    var m = $('.app-time#{{ form.vars.unique_id }} select[name="m"]').val();
                    var ampm = $('.app-time#{{ form.vars.unique_id }} select[name="ampm"]').val();
                    $('.app-time-value#{{ form.vars.unique_id }} input').val(h + ':' + m + ' ' + ampm);
                })
            });
        </script>
    {% endblock %}

    {% block app_invoice_treatment_widget %}
        <div class="row no-gutter">
            <div class="col-sm-4">
                {{ form_row(form.treatment) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.price) }}
            </div>
            <div class="col-sm-1">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.total) }}
            </div>
            <div class="col-sm-2 delete">
                <label class="control-label">&nbsp;</label>
                <div>
                    <a href="#" id="delete-treatment"
                       class="btn btn-default">{{ 'app.action.delete'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block app_invoice_product_widget %}
        <div class="row no-gutter">
            <div class="col-sm-4">
                {{ form_row(form.product) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.price) }}
            </div>
            <div class="col-sm-1">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-sm-2">
                {{ form_row(form.total) }}
            </div>
            <div class="col-sm-2 delete">
                <label class="control-label">&nbsp;</label>
                <div>
                    <a href="#" id="delete-product"
                       class="btn btn-default">{{ 'app.action.delete'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block app_appointment_patient_widget %}

        <div class="display-none">
            {{ form_row(form.invoice) }}
        </div>

        <div class="row no-gutter">
            <div class="col-sm-8 app-appointment-patient-selector {% if form.patient.vars.errors and form.patient.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_row(form.patient) }}
            </div>
            <div class="col-sm-4 delete">
                <label class="control-label">&nbsp;</label>
                <div>
                    <a href="#" id="delete-patient"
                       class="btn btn-default">{{ 'app.patient.delete'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block app_manual_communication_attachment_widget %}

        <div class="row no-gutter">
            <div class="col-sm-8 {% if form.file.vars.errors and form.file.vars.errors|length > 0 %}has-error{% endif %}">
                {{ form_row(form.file) }}
            </div>
            <div class="col-sm-4 delete">
                <label class="control-label">&nbsp;</label>
                <div>
                    <a href="#" id="delete-attachment"
                       class="btn btn-default">{{ 'app.attachment.delete_short'|trans }}</a>
                </div>
            </div>
        </div>
    {% endblock %}

    {#
    {% block app_phone_widget %}

        <div class="pull-left margin-right-5 {% if form.phoneType.vars.errors and form.phoneType.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_widget(form.phoneType) }}
            {{ form_errors(form.phoneType) }}
        </div>

        <div class="pull-left margin-right-5 {% if form.phoneNumber.vars.errors and form.phoneNumber.vars.errors|length > 0 %}has-error{% endif %}">
            {{ form_widget(form.phoneNumber) }}
            {{ form_errors(form.phoneNumber) }}
        </div>

    {% endblock %}
    #}

    {#
    {% block form_row -%}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{- form_label(form) -}}
            <div class="{{ block('form_group_class') }}">
                {{- form_widget(form) -}}
                {{- form_errors(form) -}}
            </div>
        </div>
    {%- endblock form_row %}

    {% block form_label -%}
        {% spaceless %}
            {% if label is same as(false) %}
                <div class="{{ block('form_label_class') }}"></div>
            {% else %}
                {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
                {{ block('form_label_combined') }}
            {% endif %}
        {% endspaceless %}
    {%- endblock form_label %}

    {% block form_label_combined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
        {% if label is not same as(false) -%}
            {% if not compound -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {%- endif -%}
            {% if label is empty -%}
                {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {%- endif -%}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
            {% if form.vars.attr.tooltip is defined %}
                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip"
                      title="{{ form.vars.attr.tooltip|trans }}"></span>
            {% endif %}
            </label>
        {%- endif -%}
    {%- endblock form_label_combined %}

    {% block form_group_class -%}
        col-xs-12 col-sm-8 col-md-3
    {%- endblock form_group_class %}

    {% block form_label_class -%}
        col-sm-2
    {%- endblock form_label_class %}
    #}


