{% block app_filter_widget %}
    {{ form_start(form) }}
    <div class="row">

        {% for field in form %}
            {% if field.vars.name != 'submit' and field.vars.name != 'reset' and field.vars.name != '_token' %}
                <div class="col-md-12">
                    {{ form_widget(field) }}
                </div>
            {% endif %}
        {% endfor %}

    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock app_filter_widget %}

{% block app_invoice_filter_widget %}
    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-12">
            {{ form_widget(form.string) }}
        </div>

        <div class="col-md-12">
            {% for field in form.status %}
                <div class="pull-left margin-right-10">
                    {{ form_widget(field) }}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock app_invoice_filter_widget %}

{% block app_document_filter_widget %}
    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-12">
            {{ form_widget(form.string) }}
        </div>

        <div class="col-md-12">
            {% for field in form.category %}
                <div class="pull-left margin-right-10">
                    {{ form_widget(field) }}
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>

    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock app_document_filter_widget %}
