{% if pageCount > 1 %}
    <ul class="pagination">

        {% if previous is defined %}
            <li>
                <a rel="prev" data-page="{{ previous }}"
                   href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#" class="disabled" onclick="return false;">
                    <span class="glyphicon glyphicon-backward"></span>
                </a>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a data-page="1" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a data-page="2" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a data-page="{{ page }}"
                       href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <span>{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a data-page="{{ (pageCount - 1) }}"
                           href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a data-page="{{ pageCount }}"
                   href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a rel="next" data-page="{{ next }}" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#" class="disabled" onclick="return false;">
                    <span class="glyphicon glyphicon-forward"></span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
