{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'app.product.plural_label'|trans }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('product_create') }}" class="btn btn-primary">{{ 'app.product.new'|trans }}</a>
        {% endblock %}
    {% endembed %}

    <div class="app-list">
        <div class="app-pagination">
            {{ knp_pagination_render(entities) }}
        </div>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>{{ 'app.product.name'|trans }}</th>
                <th>{{ 'app.product.supplier'|trans }}</th>
                <th>{{ 'app.product.stock_level'|trans }}</th>
                <th>{{ 'app.product.price'|trans }}</th>
                <th>{{ 'app.action.plural_label'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity }}</td>
                    <td>{{ entity.supplier }}</td>
                    <td>{{ entity.stockLevel }}</td>
                    <td>{{ entity.price|price }}</td>
                    <td>
                        <a href="{{ path('product_update',{'id':app_hash(entity)}) }}"
                           class="btn btn-default btn-sm">{{ 'app.product.edit'|trans }}</a>
                        <a data-href="{{ path('product_delete',{'id':app_hash(entity)}) }}"
                           class="btn btn-default btn-sm"
                           data-toggle="delete-confirmation">{{ 'app.product.delete'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
