<div class="form-group">
    <div>

        {% set items = [] %}
        {% set copiedItems = [] %}

        {% for item in form.invoiceProducts %}
            {% if item.vars.value.fromOtherInvoice == true %}
                {% set copiedItems = copiedItems|merge([item]) %}
            {% else %}
                {% set items = items|merge([item]) %}
            {% endif %}
        {% endfor %}

        <div id="invoiceProducts" class="repeater-rows"
             data-prototype="{{ form_widget(form.invoiceProducts.vars.prototype)|e }}">

            {% for child in items %}
                <div class="child-container">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                </div>
            {% endfor %}

            {% if copiedItems|length > 0 %}
                <div class="previous-invoice">
                    <h4>From previous draft invoices</h4>
                    {% for child in copiedItems %}
                        <div class="child-container">
                            {{ form_errors(child) }}
                            {{ form_widget(child) }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
        </div>
        <a href="#" id="add-product" class="btn btn-default">{{ 'app.product.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.invoiceProducts|length }}';

                $('#add-product').click(function (e) {
                    e.preventDefault();

                    var list = jQuery('#invoiceProducts');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    var newLi = $('<div class="child-container"></div>').html(newWidget);
                    newLi.prependTo(list);

                    render();
                });

                $('body').on('click', '#delete-product', function (e) {
                    e.preventDefault();

                    var itemContainer = $(this).parents('div.child-container:first');

                    $(itemContainer).remove();
                    recalcPayments();
                });

                $('#invoiceProducts').on('change', '.app-product-selector', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    var priceField = $(itemContainer).find('input[data-price]:first');
                    $(priceField).prop('disabled', true);

                    var url = Routing.generate('product_price_view', {
                        'id': $(this).val()
                    });

                    $.post(url, {}, function (data) {
                        var response = jQuery.parseJSON(data);
                        $(priceField).val(response.price);
                        $(priceField).prop('disabled', false);
                        recalc(itemContainer);
                    }, 'json');

                });

                $('#invoiceProducts').on('change keyup', 'input[data-quantity]', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    recalc(itemContainer);
                });

                $('#invoiceProducts').on('change keyup', 'input[data-price]', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    recalc(itemContainer);
                });

                function recalc(itemContainer) {
                    var priceField = $(itemContainer).find('input[data-price]:first');
                    var price = parseFloat($(priceField).val().replace(/[\s,]+/g, ""));

                    var amountField = $(itemContainer).find('input[data-quantity]:first');
                    var totalField = $(itemContainer).find('input[data-total]:first');

                    var total = price * parseFloat($(amountField).val());

                    $(totalField).val(total.toFixed(2));
                    recalcPayments();
                }
            })
        </script>

    </div>
</div>
<div class="clearfix"></div>

