{% extends 'inner.html.twig' %}

{% block header %}
    {{ entity }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('product_update', { 'id': entity.id }) }}" class="btn btn-primary">{{ 'app.product.edit'|trans }}</a>
            <a href="{{ path('product_delete', { 'id': entity.id }) }}" class="btn btn-danger">{{ 'app.product.delete'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.general'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'app.product.label'|trans }}:</span> {{ entity.name }}</div>
    <div><span class="fieldLabel">{{ 'app.product.price'|trans }}:</span> {{ entity.price|price }}</div>

{% endblock %}
