<form action="{{ path('settings_general') }}" class="app-profile-settings-form fos_user_profile_edit"
      method="post" {{ form_enctype(form) }} >

    {{ form_widget(form) }}

    <button type="submit" onclick="$('form.app-profile-settings-form:first').trigger('submit'); return false;"
            class="btn btn-success">{{ 'app.action.save'|trans }}</button>

    {{ form_end(form, {'render_rest': false}) }}
