<div class="fos_user_user_show">

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">{{ 'profile.edit.label'|trans({}, 'FOSUserBundle') }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.general'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'myhs.subscription.label'|trans }}:</span> {{ user.subscription }}</div>
    <div><span class="fieldLabel">{{ 'myhs.user.business_name'|trans }}:</span> {{ user.businessName }}</div>
    <div><span class="fieldLabel">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}:</span> {{ user.email }}</div>
    <div><span class="fieldLabel">{{ 'myhs.title.label'|trans }}:</span> {{ user.title }}</div>
    <div><span class="fieldLabel">{{ 'myhs.user.first_name'|trans }}:</span> {{ user.firstName }}</div>
    <div><span class="fieldLabel">{{ 'myhs.user.last_name'|trans }}:</span> {{ user.lastName }}</div>
    <div class="hidden"><span class="fieldLabel">{{ 'myhs.country.label'|trans }}:</span> {{ user.country }}</div>
    <div><span class="fieldLabel">{{ 'myhs.timezone.label'|trans }}:</span> {{ user.timezone }}</div>
    <div><span class="fieldLabel">{{ 'profile.show.api_key'|trans({}, 'FOSUserBundle') }}:</span> {{ user.apiKey }}</div>

</div>
