<div class="fos_user_user_show">

    {{ macros.detailRow('app.subscription.label'|trans,user.subscription) }}
    {{ macros.detailRow('app.user.business_name'|trans,user.businessName) }}
    {{ macros.detailRow('profile.show.email'|trans,user.email) }}
    {{ macros.detailRow('app.title.label'|trans,user.title) }}
    {{ macros.detailRow('app.user.first_name'|trans,user.firstName) }}
    {{ macros.detailRow('app.user.last_name'|trans,user.lastName) }}
    <div class="hidden">
        {{ macros.detailRow('app.country.label'|trans,user.country) }}
    </div>
    {{ macros.detailRow('app.timezone.label'|trans,user.timezone) }}
    {{ macros.detailRow('profile.show.api_key'|trans,user.apiKey) }}

</div>
