{% use "@App/Form/fields.html.twig" %}

{%- macro horizontalRow(form) -%}
    <div class="row no-gutter margin-top-5 margin-bottom-5">
        <div class="col-md-3 margin-top-5 text-right">
            {{ form_label(form) }}
        </div>
        <div class="col-md-9">
            <div class="form-group {{ _self.errorClass(form) }}">
                {{ form_widget(form) }}
                {{- form_errors(form) -}}
            </div>
        </div>
    </div>
{%- endmacro -%}

{%- macro row(label, value) -%}
    <div class="form-group">
        <div class="row">
            <label class="{{ block('form_label_class') }} control-label">
                {{ label }}
            </label>
            <div class="{{ block('form_group_class') }}">
                {{ value }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{%- endmacro -%}

{%- macro loaderSmall() -%}
    <img src="{{ asset('img/loader.svg') }}" alt="">
{%- endmacro -%}

{%- macro errorClass(form) -%}
    {% if (not form.vars.compound or form.vars.force_error|default(false)) and not form.vars.valid %} has-error{% endif %}
{%- endmacro -%}

{%- macro renderPhone(phone, country, validate) -%}
    {% set validate = validate|default(false) %}
    <a href='tel:{{ phone|app_phone_callable(country) }}'>{{ phone|app_phone_pretty(country) }}</a> {#{{ validate ? phone|app_mobile_phone_valid(country)|raw : '' }}#}
{%- endmacro -%}

{%- macro detailRow(label, data, strong) -%}
    {% set strong = strong|default(false) %}
    {% set data = data|default(false) %}
    <div class="detail-row {#margin-bottom-10#}">
        <div class="detail-label">
            {{ strong ? '<strong>' : '' }}
            <span>
            {{ label }}
            </span>
            {{ strong ? '</strong>' : '' }}
        </div>
        {% if data %}
            <div class="detail-content">
                {{ data }}
            </div>
        {% endif %}
    </div>
{%- endmacro -%}

{%- macro detailRowHtml(label, data, strong) -%}
    {% set strong = strong|default(false) %}
    {% set data = data|default(false) %}
    <div class="detail-row {#margin-bottom-10#}">
        <div class="detail-label">
            {{ strong ? '<strong>' : '' }}
            <span>
            {{ label }}
            </span>
            {{ strong ? '</strong>' : '' }}
        </div>
        {% if data %}
            <div class="detail-content">
                {{ data|raw }}
            </div>
        {% endif %}
    </div>
{%- endmacro -%}
