{# <form method="POST" class="app-ajax-form" name="{{ form.vars.name }}" action="{{entity.id ? path('treatment_update',{'id':app_hash(entity)}) : path('treatment_create')}}" {{ form_enctype(form) }}> #}
{{ form_start(form) }}

<section class="detail-section">
    <h3>{{ 'app.general'|trans }}</h3>

    <div class="{{ entity.noShowFee == true ? 'display-none' : '' }}">
        {{ form_row(form.parent) }}
    </div>
    {{ form_row(form.name) }}

    <div class="simple-treatment-group">

        <div class="{{ entity.noShowFee == true ? 'display-none' : '' }}">
            {{ form_row(form.parentTreatment) }}
            {{ form_row(form.code) }}
            {{ form_row(form.description) }}
        </div>

        {{ form_row(form.price) }}

        <div class="{{ entity.noShowFee == true ? 'display-none' : '' }}">
            {{ form_row(form.duration) }}
            {{ form_row(form.calendarColour) }}

            {{ form_row(form.attachment) }}

            {% if entity.attachment %}
                <a href="{{ path('treatment_attachment_download', {"id":app_hash(entity)}) }}"
                   class="btn btn-primary" target="_blank">
                    <span class="glyphicon glyphicon-download"></span>
                    {{ 'app.attachment.download_full'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

</section>

<div class="simple-treatment-group">
    <section class="detail-section">
        <h3>{{ 'app.concession.price_plural'|trans }}</h3>
        {{ form_widget(form.concessionPrices) }}
    </section>
</div>

<script>
    $(document).ready(function () {

        function treatmentTypeChange() {
            var treatmentModality = $('.treatment-type-selector').val();

            if (treatmentModality == 1) {
                $(".simple-treatment-group").hide();
                return;
            }

            $(".simple-treatment-group").show();
        }

        $('body').on('change', '.treatment-type-selector', function () {
            treatmentTypeChange();
        });

        treatmentTypeChange();
    });
</script>

{% include "@App/Treatment/include/buttons.html.twig" %}

{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
