{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'app.treatment.label'|trans }}</th>
                <th>{{ 'app.treatment.duration'|trans }}</th>
                <th>{{ 'app.treatment.price'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% set previous = false %}
            {% for entity in entities %}
                {% if entity.parentTreatment and previous.parentTreatment != entity.parentTreatment %}
                    <tr>
                        <td>{{ entity.parentTreatment }}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <a data-href="{{ path('treatment_delete',{'id':app_hash(entity.parentTreatment)}) }}"
                               class=""
                               data-toggle="delete-confirmation"
                               data-entity-label="{{ 'app.treatment.types.treatment_modality_short'|trans }}"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        {% if entity.parentTreatment %}
                            <i class="fa fa-level-down" aria-hidden="true"></i>
                        {% endif %}
                        {{ entity }}
                    </td>
                    <td>
                        {% if entity.duration %}
                            {{ entity.duration }} {{ 'app.event.minute_short'|trans }}
                        {% endif %}
                    </td>
                    <td>
                        {{ entity.price|price }}
                        {% for concessionPrice in entity.concessionPrices %}
                            {% if concessionPrice.price > 0 %}
                                <div>{{ concessionPrice.concession }}: {{ concessionPrice.price|price }}</div>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="position-relative">
                            <a href="{{ path('treatment_update',{'id':app_hash(entity)}) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            {% if entity.noShowFee == false %}
                                <a data-href="{{ path('treatment_delete',{'id':app_hash(entity)}) }}"
                                   class=""
                                   data-toggle="delete-confirmation"
                                   data-entity-label="{{ 'app.treatment.label'|trans }}"><span
                                            class="glyphicon glyphicon-remove"></span></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% set previous = entity %}
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
