<div class="form-group">
    {{ form_label(form.relatedPatients) }}
    <div>

        <div id="related-patients"
             data-prototype="{{ form_widget(form.relatedPatients.vars.prototype)|e }}">
            {% for child in form.relatedPatients %}
                <div class="child-container">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-related-patient" class="btn btn-default">{{ 'app.related_patient.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.relatedPatients|length }}';

                $('#add-related-patient').click(function (e) {
                    e.preventDefault();

                    var list = jQuery('#related-patients');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    //var newLi = $('<div class="well"></div>').html(newWidget);
                    var newLi = $('<div class="child-container"></div>').html(newWidget);
                    newLi.appendTo(list);

                    render();
                });

                $('body').on('click', '#delete-related-patient', function (e) {
                    e.preventDefault();
                    $(this).parents('div.child-container:first').remove();
                });
            })
        </script>

    </div>
</div>
<div class="clearfix"></div>

