<div class="form-group">
    {{ form_label(form.relatedPatients) }}
    <div class="col-sm-10">

        <div id="related-patients"
             data-prototype="{{ form_widget(form.relatedPatients.vars.prototype)|e }}">
            {% for child in form.relatedPatients %}
                <div class="well">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                    <a href="#" id="delete-related-patient" class="btn btn-danger pull-right">{{ 'app.related_patient.delete'|trans }}</a><div class="clearfix"></div>
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-related-patient" class="btn btn-primary">{{ 'app.related_patient.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.relatedPatients|length }}';

                $('#add-related-patient').click(function (e) {
                    e.preventDefault();

                    var list = jQuery('#related-patients');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    var newLi = $('<div class="well"></div>').html(newWidget + '<a href="#" id="delete-related-patient" class="btn btn-danger pull-right">{{ 'app.related_patient.delete'|trans }}</a><div class="clearfix"></div>');
                    newLi.appendTo(list);
                });

                $('body').on('click', '#delete-related-patient', function (e) {
                    e.preventDefault();
                    $(this).parents('div.well:first').remove();
                });
            })
        </script>

    </div>
</div>

