{% for alert in entity.alerts %}
    <div class="alert alert-danger alert-dismissible">
        <a href="{{ path('patient_alert_delete',{'id':alert.id}) }}" class="close margin-left-10"
           title="{{ 'myhs.patient_alert.delete'|trans }}" aria-label="{{ 'myhs.patient_alert.delete'|trans }}"><span
                    aria-hidden="true" class="glyphicon glyphicon-remove"></span></a>

        <a href="{{ path('patient_alert_update',{'id':alert.id}) }}" class="close"
           title="{{ 'myhs.patient_alert.edit'|trans }}" aria-label="{{ 'myhs.patient_alert.edit'|trans }}"><span
                    aria-hidden="true" class="glyphicon glyphicon-edit"></span></a>

        {{ alert }}
    </div>
{% endfor %}
