{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'myhs.patient_alert.edit'|trans }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <input type="submit" value="{{ 'myhs.action.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ path('patient_view',{'id':entity.patient.id}) }}" class="btn btn-default">{{ 'myhs.action.cancel'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.general'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.text) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
