<div class="form-group">
    <div>

        <div id="invoiceTreatments" class="repeater-rows"
             data-prototype="{{ form_widget(form.invoiceTreatments.vars.prototype)|e }}">
            {% for child in form.invoiceTreatments %}
                <div class="child-container">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-treatment" class="btn btn-default">{{ 'app.treatment.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.invoiceTreatments|length }}';

                $('#add-treatment').click(function (e) {
                    e.preventDefault();

                    var uid = generateUID();

                    var list = jQuery('#invoiceTreatments');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    var newLi = $('<div class="child-container" data-uid="' + uid + '"></div>').html(newWidget);
                    newLi.appendTo(list);

                    $("#add-payment").trigger('click');

                    setTimeout(function () {
                        $("#payments .child-container:last").attr("data-uid", uid);
                    }, 500);

                    render();
                });

                $('body').on('click', '#delete-treatment', function (e) {
                    e.preventDefault();

                    var itemContainer = $(this).parents('div.child-container:first');

                    if ($(itemContainer).data('uid')) {
                        var uid = $(itemContainer).data('uid');
                        $('#payments .child-container[data-uid="'+uid+'"]').remove();
                    }

                    $(itemContainer).remove();
                    recalcPayments();
                });

                $('#invoiceTreatments').on('change', '.app-treatment-selector', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    var priceField = $(itemContainer).find('input[data-price]:first');
                    $(priceField).prop('disabled', true);

                    var url = Routing.generate('treatment_price_view', {
                        'id': $(this).val()
                    });

                    $.post(url, {}, function (data) {
                        var response = jQuery.parseJSON(data);
                        $(priceField).val(response.price);
                        $(priceField).prop('disabled', false);
                        recalc(itemContainer);
                    }, 'json');

                });

                $('#invoiceTreatments').on('change keyup', 'input[data-quantity]', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    recalc(itemContainer);
                });

                $('#invoiceTreatments').on('change keyup', 'input[data-price]', function (e) {
                    var itemContainer = $(this).parents('.child-container:first');
                    recalc(itemContainer);
                });

                function recalc(itemContainer) {
                    var priceField = $(itemContainer).find('input[data-price]:first');
                    var price = parseFloat($(priceField).val().replace(/[\s,]+/g, ""));

                    var amountField = $(itemContainer).find('input[data-quantity]:first');
                    var totalField = $(itemContainer).find('input[data-total]:first');

                    var total = price * parseFloat($(amountField).val());

                    if ($(itemContainer).data('uid')) {
                        var uid = $(itemContainer).data('uid');
                        $('#payments .child-container[data-uid="'+uid+'"]').find('input[data-price]:first').val(total);
                    }

                    $(totalField).val(total);
                    recalcPayments();
                }
            })
        </script>

    </div>
</div>
<div class="clearfix"></div>

