{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = entity.id ? 'app.treatment_note.edit'|trans : 'app.treatment_note.new'|trans %}

{% set cancelPath = path('treatment_note_index', {'id':app_hash(patient)}) %}

{% set buttons %}
    <button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit');"
            class="btn btn-labeled btn-success"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-ok"></i></span>{{ 'app.action.save'|trans }}</button>

    <a href="{{ cancelPath }}" class="btn btn-labeled btn-danger"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-remove"></i></span>{{ 'app.action.cancel'|trans }}</a>
{% endset %}

{% block subActions %}
    {{ buttons }}
{% endblock %}

{% block innerBody %}
    <section class="content-panel">

        {{ form_start(form) }}

        {{ form_row(form.name) }}

        {% for field in form.treatmentNoteFields %}
            {{ form_widget(field) }}
        {% endfor %}

        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

        {{ buttons }}

    </section>
{% endblock %}
