{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = entity.id ? 'app.treatment_note.edit'|trans : 'app.treatment_note.new'|trans %}

{% set cancelPath = path('treatment_note_index', {'id':app_hash(patient)}) %}

{% block subActions %}
    {% include "@App/TreatmentNote/include/buttons.html.twig" %}
{% endblock %}

{% block innerBody %}
    <section class="content-panel">

        {% include "@App/TreatmentNote/include/form.html.twig" %}

    </section>

    <input type="hidden" id="current-template" value="{{ app_hash(entity.template) }}">

    <script>

        $(document).ready(function () {

            $('body').on('click', '.app-tn-save-final', function (e) {
                $("#{{ form.status.vars.id }} option[value='final']").prop('selected', true);
                $('form[name={{ form.vars.name }}]').trigger('submit')
            });

            $('body').on('click', '.app-tn-save-draft', function (e) {
                $("#{{ form.status.vars.id }} option[value='draft']").prop('selected', true);
                $('form[name={{ form.vars.name }}]').trigger('submit')
            });

        });

        {% if form.template is defined %}
        $('body').on('change', 'form[name="{{ form.vars.name }}"] select#{{ form.template.vars.id }}', function (e) {

            var select = $(this);
            var url = '';
            var templateSelected = $("#current-template").val();
            var newTemplate = $(this).val();

            if ($(this).val() === 'copy') {
                url = Routing.generate('treatment_note_copy', {
                    'patient': '{{ app_hash(entity.patient) }}'
                });
                loaderShow();
                window.location.href = url;
                return false;
            }

            var form = $(this).parents('form:first');
            url = Routing.generate('treatment_note_create', {
                'template': $(this).val(),
                'patient': '{{ app_hash(entity.patient) }}'
            });

            if (templateSelected !== newTemplate) {
                bootbox.confirm({
                    title: Translator.trans('app.treatment_note.change_template_header'),
                    message: Translator.trans('app.treatment_note.change_template_text'),
                    buttons: {
                        cancel: {
                            className: 'btn-default',
                            label: Translator.trans('app.action.cancel')
                        },
                        confirm: {
                            className: 'btn-success',
                            label: Translator.trans('app.yes')
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            loaderShow();
                            $("#current-template").val(newTemplate);

                            $.get(url, {}, function (data) {
                                data = $.parseJSON(data);
                                notify('app.treatment_note.template_switched', 'success');
                                if (typeof data.form !== 'undefined') {
                                    $(form).replaceWith(data.form);
                                }
                                loaderHide();
                            });
                        } else {
                            $(select).find("option").prop("selected", false);
                            $(select).find("option[value='" + templateSelected + "']").prop("selected", true);
                            $(select).trigger("change");
                        }
                    }
                });
            }

        });
        {% endif %}

    </script>

{% endblock %}
