{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = entity.id ? 'app.treatment_note.edit'|trans : 'app.treatment_note.new'|trans %}

{% set cancelPath = path('treatment_note_index', {'id':app_hash(patient)}) %}

{% block subActions %}
    {% include "@App/TreatmentNote/include/buttons.html.twig" %}
{% endblock %}

{% block innerBody %}
    <section class="content-panel">

        {% include "@App/TreatmentNote/include/form.html.twig" %}

    </section>

    <script>

        $(document).ready(function(){

            $('body').on('click','.app-tn-save-final',function(e){
                $("#{{ form.status.vars.id }} option[value='final']").prop('selected',true);
                $('form[name={{ form.vars.name }}]').trigger('submit')
            });

            $('body').on('click','.app-tn-save-draft',function(e){
                $("#{{ form.status.vars.id }} option[value='draft']").prop('selected',true);
                $('form[name={{ form.vars.name }}]').trigger('submit')
            });

        });

    {% if form.template is defined %}
            $('body').on('change', 'form[name="{{ form.vars.name }}"] select#{{ form.template.vars.id }}', function () {

                loaderShow();

                var form = $(this).parents('form:first');
                var url = Routing.generate('treatment_note_create', {
                    'template': $(this).val(),
                    'patient': '{{ app_hash(entity.patient) }}'
                });

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    notify('app.treatment_note.template_switched', 'success');
                    if (typeof data.form !== 'undefined') {
                        $(form).replaceWith(data.form);
                    }
                    loaderHide();
                });

                return false;
            });
    {% endif %}

    </script>

{% endblock %}
