<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}MyHS{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- jQuery -->
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >

        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <!-- jQuery input mask -->
        <script src="{{ asset('js/jquery.inputmask.bundle.min.js') }}"></script>

        <!-- MyHS styles -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}?rnd{{ random(1000000) }}" />

        <!-- MyHS JS -->
        <script src="{{ asset('js/func.js') }}?rnd{{ random(1000000) }}"></script>
    </head>
    <body>

    <div class="container-fluid">

        {% if form is defined %}
            {% form_theme form with ['@App/Form/fields.html.twig'] %}
        {%endif%}

        {% block navigation %}{% endblock %}

        <div class="page-header">
            <h2>
                {% block header %}{% endblock %}
            </h2>
        </div>

        {% if form is defined %}
            {% if not form.vars.valid %}
                <div class="alert alert-danger">{{ 'app.form.not_valid'|trans }}</div>
                {#
                <ul>
                    {% for child in form.children %}
                        {%for error in child.vars.errors%}
                            <li>{{error.message}}</li>
                        {%endfor%}
                    {%endfor%}
                </ul>
                #}
            {%endif%}
        {%endif%}

        {% block body %}
        {% endblock %}
    </div>

    {% block javascripts %}{% endblock %}

    </body>
</html>
