{% extends "base.html.twig" %}

{% block menu %}
    <nav class="menu-mobile navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
        {{ knp_menu_render('main', {'template':'AppBundle:Menu:innerMenu.html.twig', 'currentClass': 'active'}) }}
    </nav>

    {#
    <nav class="menu-mobile navmenu navmenu-default navmenu-fixed-left offcanvas-sm" role="navigation">
        <ul class="nav navmenu-nav">
            <li class="menu-dashboard"><a href="{{ path('root') }}">{{ 'app.dashboard.label'|trans }}</a></li>
            <li class="menu-calendar"><a href="#">Calendar</a></li>
            <li class="menu-patients active"><a
                        href="{{ path('patient_index') }}">{{ 'app.patient.plural_label'|trans }}</a></li>
            <li class="menu-invoices"><a href="{{ path('invoice_index') }}">{{ 'app.invoice.plural_label'|trans }}</a>
            </li>
            <li class="menu-treatments"><a
                        href="{{ path('treatment_index') }}">{{ 'app.treatment.plural_label'|trans }}</a></li>
            <li class="menu-products"><a href="{{ path('product_index') }}">{{ 'app.product.plural_label'|trans }}</a>
            </li>
            <li class="menu-messages"><a href="#">Messages</a></li>
            <li class="menu-reports"><a href="#" class="link-reports">Reports</a></li>
        </ul>
    </nav>
    #}
{% endblock %}

{% block topline %}
    <header class="header" role="banner">

        <div class="branding">
            <h1>{{ app_name }}</h1>
        </div>

        <div class="top-right">

            <div class="time-date">
                <input type="hidden" id="initialClockTime" value="{{ 'now'|date('m/d/Y H:i:s', app.user.getTimezone()) }}">
                <div class="time" id="clock"><span class="hour">{{ 'now'|date('H', app.user.getTimezone()) }}</span><span
                            class="clock-dash">:</span><span class="min">{{ 'now'|date('i', app.user.getTimezone()) }}</span></div>
                <div class="date">{{ 'now'|date('D d M', app.user.getTimezone()) }}</div>
            </div>

            <script>

                var initialDt = null;

                    initialDt = new Date($("#initialClockTime").val());
                    //alert(initialDt);

                function updateTime() {
                    var clock = $('#clock');
                    var clockDash = $(clock).find('.clock-dash');

                    if (!initialDt) {
                        initialDt = new Date($("#initialClockTime").val());
                    } else {
                        initialDt.setSeconds(initialDt.getSeconds() + 1);
                    }

                    var hours = initialDt.getHours();
                    if (hours < 10) hours = '0' + hours;
                    $(clock).find('.hour').text(hours);

                    var minutes = initialDt.getMinutes();
                    if (minutes < 10) minutes = '0' + minutes;
                    $(clock).find('.min').text(minutes);

                    if (parseInt($(clockDash).css('opacity')) === 1) {
                        $(clockDash).css('opacity', 0);
                    } else {
                        $(clockDash).css('opacity', 1);
                    }
                }

                function clockStart() {
                    setInterval(updateTime, 1000);
                    updateTime();
                }

                clockStart();

            </script>

            <div class="toggle-showhide01 toggle-user-menu">{{ app.user.fullName }}</div>

            <div id="user-menu" class="menu-utility display-none">
                <a href="{{ path('fos_user_profile_show') }}" class="link-settings">{{ 'app.settings.label'|trans }}</a>
                <a href="{{ path('fos_user_security_logout') }}"
                   class="link-logout">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
            </div>

        </div>

        <div class="menu-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body"></div>

    </header>
{% endblock %}

