<!DOCTYPE html>

<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <title>{% block title %}MyHS{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- JS routing -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <!-- JS translations -->
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>

    <!-- Bootstrap JS -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Jasny Bootstrap JS -->
    <script src="{{ asset('js/jasny-bootstrap.js') }}"></script>

    <!-- Bootstrap Lightbox JS -->
    <script src="{{ asset('js/ekko-lightbox.min.js') }}"></script>

    <!-- jQuery input mask -->
    <script src="{{ asset('js/jquery.inputmask.bundle.min.js') }}"></script>

    <!-- Bootstrap Notify -->
    <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>

    <!-- Bootstrap Confirmation -->
    <script src="{{ asset('js/bootstrap-confirmation.min.js') }}"></script>

    <!-- Password Strength Meter -->
    <script src="{{ asset('js/pwstrength-bootstrap.min.js') }}"></script>

    <!-- Select2 JS -->
    <script src="{{ asset('js/select2.full.min.js') }}"></script>

    <!-- Debounce jQuery plugin -->
    <script src="{{ asset('js/jquery.ba-throttle-debounce.min.js') }}"></script>

    <!-- Bootstrap colorpicker JS -->
    <script src="{{ asset('js/bootstrap-colorpicker.min.js') }}"></script>

    <!-- MyHS JS -->
    <script src="{{ asset('js/func.js') }}?rnd{{ random(1000000) }}"></script>

    {% block stylesheets %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >

    <!-- Jasny Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/jasny-bootstrap.min.css') }}" >

    <!-- Bootstrap Lightbox CSS -->
    <link rel="stylesheet" href="{{ asset('css/ekko-lightbox.min.css') }}" >

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}" >

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{{ asset('css/select2.min.css') }}" >

    <!-- Bootstrap colorpicker CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap-colorpicker.min.css') }}" >

    <!-- MyHS styles -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}?rnd{{ random(1000000) }}" />
</head>

{% import "@App/macros.html.twig" as macros %}

<body>
<div class="container-fluid">
{% block outerBody %}

{% endblock %}
</div>

{% block javascripts %}{% endblock %}

</body>
</html>
