{% if not entity.id %}
    <div class="pull-left">
        <a href="#" class="app-unavailable-block-create switch-modals">{{ 'app.unavailable_block.new'|trans }}</a>
    </div>
{% endif %}

{% set class = "" %}
{% if reschedule is defined %}
    {% set class = "cancel-reschedule" %}
{% endif %}

<button type="button" class="btn btn-default {{ class }}" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>

<button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit'); return false;"
        class="btn btn-success">{{ 'app.appointment.new'|trans }}</button>
