{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% import '@App/macros.html.twig' as macros %}

<form name="{{ form.vars.name }}" method="post" class="app-appointment-form"
      action="{{ entity.id ? path('appointment_update',{'id':app_hash(entity)}) : path('appointment_create') }}" {{ form_enctype(form) }} >

    {{ macros.horizontalRow(form.treatment) }}

    <div class="display-none">
        {{ macros.horizontalRow(form.selectOrCreatePatient) }}
    </div>

    <div class="display-none">
        {{ form_row(form.invoice) }}
        {{ form_row(form.packId) }}
    </div>

    <div class="app-patient-mode-container app-select-patient display-none">
        {{ macros.horizontalRow(form.patient) }}

        {% if not entity.id %}
            <div class="margin-bottom-10 col-md-offset-3">
                <a href="#" class="app-patient-mode-toggle small pull-left"
                   data-mode="new">{{ 'app.patient.create_new'|trans }}</a>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </div>
    <div class="app-patient-mode-container app-new-patient display-none">
        <section class="detail-section patient-mandatory">
            <h3>{{ 'app.patient.create_new'|trans }}</h3>
            <div>
                {{ macros.horizontalRow(form.newPatient.firstName) }}
                {{ macros.horizontalRow(form.newPatient.lastName) }}
            </div>
            <div>
                {{ macros.horizontalRow(form.newPatient.mobilePhone) }}
                {{ macros.horizontalRow(form.newPatient.email) }}
            </div>
            <div>
                {{ macros.horizontalRow(form.newPatient.dateOfBirth) }}

                {{ macros.horizontalRow(form.newPatient.referrer) }}
                <div class="col-md-offset-3">
                    <p class="text-muted small referrer-hint">To enter name of patient in system start typing their
                        name</p>
                </div>
            </div>

            {% if not entity.id %}
                <div class="margin-bottom-10 col-md-offset-3">
                    <a href="#" class="app-patient-mode-toggle small"
                       data-mode="select">{{ 'app.patient.choose_existing'|trans }}</a>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
        </section>
    </div>

    {{ macros.horizontalRow(form.date) }}

    {{ include('@App/Event/include/dates.html.twig') }}

    <div class="display-none">
        {{ macros.horizontalRow(form.resource) }}
    </div>

    {{ macros.horizontalRow(form.description) }}

    <div class="app-buttons-placeholder">
        {% include "@App/Appointment/include/buttons.html.twig" %}
    </div>

    <script>
        $(document).ready(function () {

            // Show patient field (select or create)
            $('body').on('click', '.app-patient-mode-toggle', function (e) {
                e.preventDefault();

                var form = $(this).parents('form:first');
                var mode = $(this).data('mode');
                var modeContainerClass = 'app-' + mode + '-patient';
                $(form).find('input#{{ form.selectOrCreatePatient.vars.id }}').val(mode);
                $(form).find('.app-patient-mode-container').each(function () {
                    if (!$(this).hasClass(modeContainerClass)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
                if (mode === 'new') {
                    $('#{{ form.patient.vars.id }}').val('').trigger('change');
                }
            });

            // Show default patient field
            var patientMode = $('#{{ form.selectOrCreatePatient.vars.id }}').val();
            $('.app-patient-mode-toggle[data-mode="' + patientMode + '"]').trigger('click');

        });
    </script>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
