<form name="{{ form.vars.name }}" method="post" class="app-appointment-form"
      action="{{ entity.id ? path('appointment_update',{'id':app_hash(entity)}) : path('appointment_create') }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {{ form_row(form.treatment) }}
    {{ form_row(form.patient) }}

    <div class="margin-bottom-10">
        <a href="#"
           class="app-appointment-create-with-patient btn btn-block btn-primary">{{ 'app.patient.create_new'|trans }}</a>
    </div>

    {{ form_row(form.date) }}
    {{ form_row(form.start) }}
    {{ form_row(form.end) }}
    {{ form_row(form.resource) }}
    {{ form_row(form.description) }}

    <div class="app-buttons-placeholder">
        {% include "@App/Appointment/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
