{#{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}#}
{% import '@App/macros.html.twig' as macros %}

<form name="{{ form.vars.name }}" method="post" class="app-appointment-form"
      action="{{ entity.id ? path('appointment_update',{'id':app_hash(entity)}) : path('appointment_create') }}" {{ form_enctype(form) }} >

    <div class="{{ entity.packId ? "display-none" : "" }}">
        {{ macros.horizontalRow(form.treatment) }}
    </div>

    <div class="display-none">
        {#{{ macros.horizontalRow(form.selectOrCreatePatient) }}#}
    </div>

    <div class="display-none">
        {{ form_row(form.packId) }}
    </div>

    <div class="app-patient-mode-container app-select-patient {{ entity.packId ? "display-none" : "" }}">
        {% include "@App/AppointmentPatient/updateAppointmentPatientList.html.twig" %}
    </div>

    {{ macros.horizontalRow(form.date) }}

    {{ include('@App/Event/include/dates.html.twig') }}

    {% include "@App/RecurrencyEvent/commonFields.html.twig" %}

    <div class="display-none">
        {{ macros.horizontalRow(form.resource) }}
    </div>

    {{ macros.horizontalRow(form.description) }}

    <div class="app-buttons-placeholder">
        {% include "@App/Appointment/include/buttons.html.twig" %}
    </div>

    <script>
        $(document).ready(function () {

            // Show patient field (select or create)
            $('body').on('click', '.app-patient-mode-toggle', function (e) {
                e.preventDefault();

                var form = $(this).parents('.child-container:first');
                var mode = $(this).data('mode');
                var modeContainerClass = 'app-' + mode + '-patient';
                $(form).find('.select-or-create-patient-container input').val(mode);
                $(form).find('.app-patient-mode-container').each(function () {
                    if (!$(this).hasClass(modeContainerClass)) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
                if (mode === 'new') {
                    $(form).find('.patient-selector select:first').val('').trigger('change');
                }
            });

            // Show default patient field
            $('.select-or-create-patient-container input').each(function () {
                var patientMode = $(this).val();
                var form = $(this).parents('.child-container:first');
                $(form).find('.app-patient-mode-toggle[data-mode="' + patientMode + '"]').trigger('click');
            });

        });
    </script>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
