{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    {{ 'app.task.label'|trans }}
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {{ entity.repeats == 'once' ? '<i class="fa fa-check" aria-hidden="true"></i>' : '<i class="fa fa-clock-o" aria-hidden="true"></i>' }}
                        {{ entity.text }}
                    </td>
                    <td>
                        <div class="position-relative">
                            <a href="{{ path('task_update',{'id':app_hash(entity)}) }}"
                               class="app-task-edit" data-entity-id="{{ app_hash(entity) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a data-href="{{ path('task_delete',{'id':app_hash(entity)}) }}"
                               class=""
                               data-toggle="delete-confirmation"
                               data-entity-label="{{ 'app.task.label'|trans }}"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
