<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_registration_register form-horizontal form-auth">

    {{ form_row(form.username) }}

    <div class="row no-gutter margin-bottom-10 {{ macros.errorClass(form.businessName) }}">
        <div class="col-md-12">
            <strong>{{ form.businessName.vars.label|trans }}</strong>
        </div>
        <div class="col-md-12">
            {{ form_widget(form.businessName) }}
            {{ form_errors(form.businessName) }}
        </div>
    </div>

    <div class="row no-gutter margin-bottom-10 {{ macros.errorClass(form.email) }}">
        <div class="col-md-12">
            <strong>{{ form.email.vars.label|trans }}</strong>
        </div>
        <div class="col-md-12">
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
    </div>

    {% set pwdFieldCounter = 0 %}
    {% for pass in form.plainPassword %}
        <div class="row no-gutter margin-bottom-10 {{ macros.errorClass(pass) }}">
            <div class="col-md-12">
                <strong>{{ pass.vars.label|trans }}</strong>
            </div>
            <div class="col-md-12">
                {{ form_widget(pass) }}
                {{ form_errors(pass) }}

                {% if pwdFieldCounter == 0 %}
                    <div class="hidden margin-top-10 app-password-danger">
                        {{ 'app.user.password_danger'|trans }}
                    </div>
                    <div class="hidden margin-top-10 app-password-warning">
                        {{ 'app.user.password_warning'|trans }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% set pwdFieldCounter = pwdFieldCounter + 1 %}
    {% endfor %}

    {% set submitBtn %}
        <input type="submit" class="btn btn-primary btn-block registration-submit"
               value="{{ 'registration.submit'|trans() }}"/>
    {% endset %}

    <div class="row no-gutter margin-bottom-10">
        <div class="col-md-12">
            {{ submitBtn }}
        </div>
    </div>

    {% include "@User/StrengthMeter/strengthMeter.html.twig" %}

    <script>
        $(document).ready(function () {
            handleSubmitBtnVisibility();

            $('.fos_user_registration_register').on('change keyup', 'input', function () {
                handleSubmitBtnVisibility();
            });
        });

        function handleSubmitBtnVisibility() {
            var filled = true;
            $('.fos_user_registration_register input').each(function () {
                if (!$(this).val()) {
                    filled = false;
                }
            });
            if (filled) {
                $('.fos_user_registration_register .registration-submit').fadeIn();
            } else {
                $('.fos_user_registration_register .registration-submit').fadeOut();
            }
        }
    </script>

    {{ form_end(form) }}
