<div class="form-group">
    <div>
        <div id="payments" class="repeater-rows"
             data-prototype="{{ form_widget(form.payments.vars.prototype)|e }}">
            {% for child in form.payments %}
                <div class="child-container">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>

        <div class="payment-totals">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <label class="control-label">{{ 'app.invoice_payment.current_payments_total'|trans }}</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input id="paymentsTotal" type="text" class="form-control app-price" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="current-invoice-total-divider"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <label class="control-label">{{ 'app.invoice.current_invoice_total'|trans }}</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input id="invoiceTotal" type="text" class="form-control app-price" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="current-invoice-total-divider"></div>

            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <label class="control-label">{{ 'app.invoice.outstanding_balance'|trans }}</label>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <input id="outstanding" type="text" class="form-control app-price" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="current-invoice-total-divider"></div>
        </div>

        <a href="#" id="add-payment" class="btn btn-default">{{ 'app.invoice_payment.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.payments|length }}';

                $('#add-payment').click(function (e) {
                    e.preventDefault();

                    var list = jQuery('#payments');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    var newLi = $('<div class="child-container"></div>').html(newWidget);
                    newLi.appendTo(list);

                    render();
                });

                $('body').on('click', '#delete-payment', function (e) {
                    e.preventDefault();
                    $(this).parents('div.child-container:first').remove();
                    recalcPayments();
                });

                $('#payments').on('change keyup', 'input[data-price]', function (e) {
                    recalcPayments();
                });

            });

            function recalcPayments() {
                setTimeout(function () {

                    var invoiceTotal = 0;
                    var paymentsTotal = 0;

                    $("#payments .child-container").each(function () {
                        var total = parseFloat($(this).find('input[data-price]:first').val().replace(/[\s,]+/g, ""));
                        if (total > 0) {
                            paymentsTotal = paymentsTotal + total;
                        }
                    });

                    $("#invoiceTreatments .child-container").each(function () {
                        var total = parseFloat($(this).find('input[data-total]:first').val().replace(/[\s,]+/g, ""));
                        if (total > 0) {
                            invoiceTotal = invoiceTotal + total;
                        }
                    });

                    $("#invoiceProducts .child-container").each(function () {
                        var total = parseFloat($(this).find('input[data-total]:first').val().replace(/[\s,]+/g, ""));
                        if (total > 0) {
                            invoiceTotal = invoiceTotal + total;
                        }
                    });

                    if (invoiceTotal === 0) {
                        invoiceTotal = "";
                    }

                    if (paymentsTotal === 0) {
                        paymentsTotal = "";
                    }

                    $("#invoiceTotal").val(invoiceTotal);
                    $("#paymentsTotal").val(paymentsTotal);
                    $("#outstanding").val(invoiceTotal - paymentsTotal);

                }, 500);
            }

        </script>

    </div>
</div>
<div class="clearfix"></div>

