<div class="form-group">
    {{ form_label(form.phones) }}
    <div>

        <div id="phones"
             data-prototype="{{ form_widget(form.phones.vars.prototype)|e }}">
            {% for child in form.phones %}
                <div class="child-container">
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                </div>
            {% endfor %}
        </div>
        <a href="#" id="add-phone" class="btn btn-default">{{ 'app.phone.add'|trans }}</a><br/><br/>

        <script type="text/javascript">

            $(document).ready(function () {

                var count = '{{ form.phones|length }}';

                $('#add-phone').click(function (e) {
                    e.preventDefault();

                    var list = jQuery('#phones');

                    var newWidget = list.attr('data-prototype');
                    newWidget = newWidget.replace(/__name__/g, count);
                    count++;

                    var newLi = $('<div class="child-container"></div>').html(newWidget);
                    newLi.appendTo(list);
                });

                $('body').on('click', '#delete-phone', function (e) {
                    e.preventDefault();
                    $(this).parents('div.child-container:first').remove();
                });
            })
        </script>

    </div>
</div>
<div class="clearfix"></div>

