{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'app.concession.name'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity }}</td>
                    <td>
                        <a href="{{ path('concession_update',{'id':app_hash(entity)}) }}"
                           class=""><span class="glyphicon glyphicon-pencil"></span></a>
                        <a data-href="{{ path('concession_delete',{'id':app_hash(entity)}) }}"
                           class=""
                           data-toggle="delete-confirmation" data-entity-label="{{ 'app.concession.label'|trans }}"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
