{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'myhs.patient.new'|trans }}
{% endblock %}

{% block buttons %}
    <a href="{{ path('patient_create') }}" class="btn btn-primary">{{ 'myhs.patient.new'|trans }}</a>
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <input type="submit" value="{{ 'myhs.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ path('patient_index') }}" class="btn btn-default">{{ 'myhs.cancel'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.general'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.title) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.preferredName) }}
    {{ form_row(form.dateOfBirth) }}
    {{ form_row(form.gender) }}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.contact_information'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.email) }}
    {% include "@App/Phone/updateList.html.twig" %}
    {% include "@App/RelatedPatient/updateList.html.twig" %}

    {{ form_row(form.city) }}
    {{ form_row(form.state) }}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.notification_settings'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.autoRemindSMS) }}
    {{ form_row(form.autoRemindEmail) }}
    {{ form_row(form.bookingConfirmationEmail) }}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.other'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.occupation) }}
    {{ form_row(form.emergencyContact) }}
    {{ form_row(form.healthFund) }}
    {{ form_row(form.referrer) }}
    {{ form_row(form.notes) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
