{% extends 'inner.html.twig' %}
{% set headerIcon = 'title-patient-detail' %}

{% if not header is defined %}
    {% set header = patient is defined ? patient : (entity.patient is defined ? entity.patient : (entity.id ? entity : 'app.patient.new'|trans)) %}
{% endif %}

{% block pageActions %}
    <a href="{{ path('patient_alert_create', { 'id': app_hash(patient is defined ? patient : (entity.patient is defined ? entity.patient : entity)) }) }}"
       class="btn btn-primary btn-labeled app-patient-alert-create"><span class="btn-label"><i
                    class="glyphicon glyphicon-plus"></i></span>{{ 'app.patient_alert.add'|trans }}</a>
    <a data-href="{{ path('patient_delete', { 'id': app_hash(patient is defined ? patient : (entity.patient is defined ? entity.patient : entity)) }) }}"
       class="btn btn-danger btn-labeled" data-toggle="delete-confirmation"
       data-entity-label="{{ 'app.patient.label'|trans }}"><span class="btn-label"><i
                    class="glyphicon glyphicon-remove"></i></span>{{ 'app.patient.delete'|trans }}</a>
{% endblock %}

{% block body %}

    {% include "@App/PatientAlert/list.html.twig" %}

    <div class="subpage-titlebar">
        {% if subheader is defined %}
            <h2 class="subpage-title hidden-xs hidden-sm">{{ subheader|trans }}</h2>

            <div class="btn-group visible-xs visible-sm">
                <h2 class="subpage-title" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">{{ subheader|trans }} <span class="caret"></span></h2>

                {{ knp_menu_render('patient_mobile', {'template':'AppBundle:Menu:innerMenu.html.twig'}) }}

            </div>
        {% endif %}

        <div class="subpage-actions">
            {% block subActions %}{% endblock %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-8 col-lg-9">
            {% block innerBody %}
            {% endblock %}
        </div>

        <div class="col-md-4 col-lg-3 hidden-xs hidden-sm">
            <section class="content-panel">
                {{ knp_menu_render('patient', {'template':'AppBundle:Menu:innerMenu.html.twig'}) }}
            </section>

            <div id="patient-appointment-widget">

            </div>

            <script>
                $(document).ready(function () {
                    var url = Routing.generate('patient_appointment_widget', {
                        'id': '{{ app_hash(patient is defined ? patient : (entity.patient is defined ? entity.patient : entity)) }}'
                    });
                    $.post(url, {}, function (data) {
                        $("#patient-appointment-widget").html(data);
                    });
                });
            </script>

        </div>
    </div>

    {% include "@App/PatientAlert/include/modal.html.twig" %}
    {% include "@App/Event/modal.html.twig" %}
    {% include "@App/Appointment/include/modal.html.twig" %}
    {% include "@App/Event/scripts.html.twig" %}

{% endblock %}
