{% extends entity.id ? '@App/Patient/layout.html.twig':'inner.html.twig' %}
{% set subheader = entity.id ? 'app.patient.editing'|trans : 'app.patient.new'|trans %}

{% set cancelPath = entity.id ? path('patient_view', {'id':app_hash(entity)}) : path('patient_index') %}

{% set buttons %}
    {#
    <a href="{{ path('attachment_create_from_patient',{'id':app_hash(entity)}) }}" class="btn btn-labeled btn-success"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-ok"></i></span>{{ 'app.action.save'|trans }}</a>
    #}
    <button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit');"
            class="btn btn-labeled btn-success"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-ok"></i></span>{{ 'app.action.save'|trans }}</button>

    <a href="{{ cancelPath }}" class="btn btn-labeled btn-danger"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-remove"></i></span>{{ 'app.action.cancel'|trans }}</a>
{% endset %}

{% block subActions %}
    {{ buttons }}
{% endblock %}

{% block innerBody %}

    <section class="content-panel">

        {{ form_start(form) }}

        <section class="detail-section patient-mandatory">
            <h3>{{ 'app.mandatory'|trans }}</h3>

            <div class="row no-gutter">
                <div class="col-sm-2">
                    {{ form_row(form.title) }}
                </div>
                <div class="col-sm-5">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-sm-5">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-sm-12">
                    {{ form_row(form.preferredName) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.gender) }}
                </div>
                <div class="col-sm-6 date-selectors">
                    {{ form_row(form.dateOfBirth) }}
                </div>

                {# Todo: create referrer field widget #}
                <div class="col-sm-12">
                    <div class="form-group {% if form.referrer.vars.errors and form.referrer.vars.errors|length > 0 %}has-error{% endif %}">
                        {{ form_label(form.referrer) }}
                        {{ form_widget(form.referrer) }}
                        {{ form_errors(form.referrer) }}
                    </div>
                </div>
            </div>
        </section>

        <section class="detail-section">
            <h3>{{ 'app.related_patient.plural_label'|trans }}</h3>
            {% include "@App/RelatedPatient/updateList.html.twig" %}
        </section>

        <section class="detail-section">
            <h3>{{ 'app.patient.contact_information'|trans }}</h3>
            {% include "@App/Phone/updateList.html.twig" %}
            {{ form_row(form.email) }}
            {{ form_row(form.addressFirst) }}
            {{ form_row(form.addressSecond) }}
            <div class="row no-gutter">
                <div class="col-sm-6">
                    {{ form_row(form.city) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.state) }}
                </div>
            </div>
        </section>

        <section class="detail-section">
            <h3>{{ 'app.patient.other'|trans }}</h3>
            {{ form_row(form.occupation) }}
            {{ form_row(form.emergencyContact) }}
            {{ form_row(form.healthFund) }}
            {{ form_row(form.referrer) }}
            {{ form_row(form.notes) }}
        </section>

        <section class="detail-section">
            <h3>{{ 'app.patient.notification_settings'|trans }}</h3>
            {{ form_row(form.autoRemindSMS) }}
            {{ form_row(form.autoRemindEmail) }}
            {{ form_row(form.bookingConfirmationEmail) }}
        </section>

        {{ form_widget(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}

        {{ buttons }}

    </section>

{% endblock %}
