{% extends 'inner.html.twig' %}

{% block header %}
    {{ entity }}
{% endblock %}

{% block body %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">{{ 'myhs.patient.label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.treatment_note.plural_label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.attachment.plural_label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.appointment.plural_label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.message.plural_label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.reminder.plural_label'|trans }}</a></li>
        <li role="presentation"><a href="#">{{ 'myhs.invoice.plural_label'|trans }}</a></li>
    </ul><br/>

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('patient_update', { 'id': entity.id }) }}"
               class="btn btn-primary">{{ 'myhs.patient.edit'|trans }}</a>
            <a href="{{ path('patient_delete', { 'id': entity.id }) }}"
               class="btn btn-danger">{{ 'myhs.patient.delete'|trans }}</a>
            <a href="{{ path('patient_index') }}" class="btn btn-default">{{ 'myhs.back_to_list'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.general'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'myhs.title.label'|trans }}:</span> {{ entity.title }}</div>
    <div><span class="fieldLabel">{{ 'myhs.user.first_name'|trans }}:</span> {{ entity.firstName }}</div>
    <div><span class="fieldLabel">{{ 'myhs.user.last_name'|trans }}:</span> {{ entity.lastName }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.preferred_name'|trans }}:</span> {{ entity.preferredName }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.date_of_birth'|trans }}
            :</span> {{ entity.dateOfBirth|date('m/d/Y') }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.gender'|trans }}:</span> {{ entity.gender }}</div>

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.contact_information'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'myhs.email'|trans }}:</span> <a
                href="mailto:{{ entity.email }}">{{ entity.email }}</a></div>

    <div>{{ 'myhs.phone.plural_label'|trans }}</div>
    {% include "@App/Phone/list.html.twig" %}

    <div>{{ 'myhs.related_patient.plural_label'|trans }}</div>
    {% include "@App/RelatedPatient/list.html.twig" %}

    <div><span class="fieldLabel">{{ 'myhs.patient.city'|trans }}:</span> {{ entity.city }}</div>
    <div><span class="fieldLabel">{{ 'myhs.state.label'|trans }}:</span> {{ entity.state }}</div>

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.notification_settings'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'myhs.patient.auto_remind_sms'|trans }}
            :</span> {{ entity.autoRemindSMS ? 'myhs.yes'|trans : 'myhs.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.auto_remind_email'|trans }}
            :</span> {{ entity.autoRemindEmail ? 'myhs.yes'|trans : 'myhs.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.booking_confirmation_email'|trans }}
            :</span> {{ entity.bookingConfirmationEmail ? 'myhs.yes'|trans : 'myhs.no'|trans }}</div>

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'myhs.patient.other'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'myhs.patient.occupation'|trans }}:</span> {{ entity.occupation }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.emergency_contact'|trans }}:</span> {{ entity.emergencyContact }}
    </div>
    <div><span class="fieldLabel">{{ 'myhs.patient.health_fund'|trans }}:</span> {{ entity.healthFund }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.referrer'|trans }}:</span> {{ entity.referrer }}</div>
    <div><span class="fieldLabel">{{ 'myhs.patient.notes'|trans }}:</span> {{ entity.notes }}</div>

{% endblock %}
