{% extends '@App/Patient/layout.html.twig' %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('patient_update', { 'id': app_hash(entity) }) }}"
               class="btn btn-primary">{{ 'app.patient.edit'|trans }}</a>
            <a href="{{ path('patient_alert_create', { 'id': app_hash(entity) }) }}"
               class="btn btn-primary">{{ 'app.patient_alert.add'|trans }}</a>
            <a data-href="{{ path('patient_delete', { 'id': app_hash(entity) }) }}"
               class="btn btn-danger" data-toggle="delete-confirmation">{{ 'app.patient.delete'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/PatientAlert/list.html.twig" %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.patient.contact_information'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'app.email'|trans }}:</span> <a
                href="mailto:{{ entity.email }}">{{ entity.email }}</a></div>

    <div>{{ 'app.phone.plural_label'|trans }}</div>
    {% include "@App/Phone/list.html.twig" %}

    <div><span class="fieldLabel">{{ 'app.patient.city'|trans }}:</span> {{ entity.city }}</div>
    <div><span class="fieldLabel">{{ 'app.state.label'|trans }}:</span> {{ entity.state }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.patient_address'|trans }}
            :</span> {{ entity.addressFirst }} {{ entity.addressSecond }}</div>

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.related_patient.plural_label'|trans }}
        {% endblock %}
    {% endembed %}

    <div>{{ 'app.related_patient.plural_label'|trans }}</div>
    {% include "@App/RelatedPatient/list.html.twig" %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.general'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'app.patient.preferred_name'|trans }}:</span> {{ entity.preferredName }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.date_of_birth'|trans }}
            :</span> {{ entity.dateOfBirth|app_date }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.gender'|trans }}:</span> {{ entity.gender }}</div>

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.patient.notification_settings'|trans }}
        {% endblock %}
    {% endembed %}

    <div class="app-patient-notification-settings">
        {{ form_start(form) }}
        {{ form_widget(form.autoRemindSMS) }}
        {{ form_widget(form.autoRemindEmail) }}
        {{ form_widget(form.bookingConfirmationEmail) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>

    <script>
        $(document).ready(function () {
            $("body").on('change', '.app-patient-notification-settings input', function () {
                var formData = $('.app-patient-notification-settings form:first').serialize();
                var url = window.location.toString();

                $.post(url, formData, function (data) {
                    notify('{{ 'app.patient.message.notifications_settings_update'|trans }}','success');
                });
            });
        })
    </script>

    {#
    <div><span class="fieldLabel">{{ 'app.patient.auto_remind_sms'|trans }}
            :</span> {{ entity.autoRemindSMS ? 'app.yes'|trans : 'app.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.auto_remind_email'|trans }}
            :</span> {{ entity.autoRemindEmail ? 'app.yes'|trans : 'app.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.booking_confirmation_email'|trans }}
            :</span> {{ entity.bookingConfirmationEmail ? 'app.yes'|trans : 'app.no'|trans }}</div>
    #}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.patient.other'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'app.patient.occupation'|trans }}:</span> {{ entity.occupation }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.emergency_contact'|trans }}:</span> {{ entity.emergencyContact }}
    </div>
    <div><span class="fieldLabel">{{ 'app.patient.health_fund'|trans }}:</span> {{ entity.healthFund }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.referrer'|trans }}:</span> {{ entity.referrer }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.notes'|trans }}:</span> {{ entity.notes }}</div>

{% endblock %}
