{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = 'app.patient.patient_details' %}

{% block subActions %}
    <a href="{{ path('patient_update', { 'id': app_hash(entity) }) }}" class="btn btn-labeled btn-default"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-pencil"></i></span>{{ 'app.action.edit'|trans }} <span
                class="hide-small">{{ 'app.patient.patient_details'|trans|lower }}</span></a>
{% endblock %}

{% block innerBody %}

    <section class="content-panel">

        <section class="detail-section contact-information">
            <h3>{{ 'app.patient.contact_information'|trans }}</h3>
            {{ macros.detailRowHtml('app.email'|trans,"<a href='mailto:" ~ entity.email ~ "'>" ~ entity.email ~ "</a>") }}
            {{ macros.detailRowHtml('app.patient.mobile_phone_short'|trans, macros.renderPhone(entity.mobilePhone) ~ ' (' ~ 'app.patient.mobile_phone_preferred'|trans ~ ')') }}
            {% include "@App/Phone/list.html.twig" %}
            {{ macros.detailRow('app.patient.city'|trans,entity.city) }}
            {{ macros.detailRow('app.state.label'|trans,entity.state) }}
            {{ macros.detailRow('app.patient.patient_address'|trans,entity.addressFirst ~ " " ~ entity.addressSecond) }}
            {{ macros.detailRowHtml('app.patient.referrer'|trans,entity.referrer|app_referrer) }}
        </section>

        <section class="detail-section related-patients">
            <h3>{{ 'app.related_patient.plural_label'|trans }}</h3>
            {% include "@App/RelatedPatient/list.html.twig" %}
        </section>

        <section class="detail-section general-information">
            <h3>{{ 'app.general'|trans }}</h3>


            {{ macros.detailRow('app.patient.preferred_name'|trans,entity.preferredName) }}
            {{ macros.detailRow('app.patient.date_of_birth'|trans,entity.dateOfBirth|app_date) }}
            {{ macros.detailRow('app.patient.gender'|trans,entity.gender) }}
        </section>

        <section class="detail-section notification-settings">
            <h3>{{ 'app.patient.notification_settings'|trans }}</h3>

            <div class="app-patient-notification-settings">
                {{ form_start(form) }}
                {{ form_widget(form.autoRemindSMS) }}
                {{ form_widget(form.autoRemindEmail) }}
                {{ form_widget(form.bookingConfirmationEmail) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>

            <script>
                $(document).ready(function () {
                    $("body").on('change', '.app-patient-notification-settings input', function () {
                        var formData = $('.app-patient-notification-settings form:first').serialize();
                        var url = window.location.toString();

                        notify('{{ 'app.messages.notifications_settings_updating'|trans }}', 'info');
                        $.post(url, formData, function (data) {
                            notify('{{ 'app.patient.message.notifications_settings_update'|trans }}', 'success');
                        });
                    });
                })
            </script>
        </section>

        <section class="detail-section">
            <h3>{{ 'app.patient.other'|trans }}</h3>

            {{ macros.detailRow('app.patient.occupation'|trans,entity.occupation) }}
            {{ macros.detailRow('app.patient.emergency_contact'|trans,entity.emergencyContact) }}
            {{ macros.detailRow('app.patient.health_fund'|trans,entity.healthFund) }}
            {{ macros.detailRow('app.patient.referrer'|trans,entity.referrer) }}
            {{ macros.detailRow('app.patient.notes'|trans,entity.notes) }}
        </section>

    </section>

    {#
    <div><span class="fieldLabel">{{ 'app.patient.auto_remind_sms'|trans }}
            :</span> {{ entity.autoRemindSMS ? 'app.yes'|trans : 'app.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.auto_remind_email'|trans }}
            :</span> {{ entity.autoRemindEmail ? 'app.yes'|trans : 'app.no'|trans }}</div>
    <div><span class="fieldLabel">{{ 'app.patient.booking_confirmation_email'|trans }}
            :</span> {{ entity.bookingConfirmationEmail ? 'app.yes'|trans : 'app.no'|trans }}</div>
    #}

{% endblock %}
