<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
      class="fos_user_change_password">

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <input type="submit" class="btn btn-primary"
                   value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}"/>
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default">{{ 'myhs.cancel'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {{ form_widget(form) }}
    <div>

    </div>
</form>
