<form action="{{ path('settings_security') }}" class="app-settings-change-password-form fos_user_change_password"
      method="post" {{ form_enctype(form) }} >

    {{ form_widget(form) }}

    <button type="submit" onclick="$('form.app-settings-change-password-form:first').trigger('submit'); return false;"
            class="btn btn-success">{{ 'change_password.submit'|trans }}</button>

    {{ form_end(form, {'render_rest': false}) }}
