{% if entity.invoiceProducts|length > 0 or entity.invoiceTreatments|length > 0 %}
    <table class="table invoice-table" width="100%">
        <tr>
            <th>{{ 'app.invoice.item'|trans }}</th>
            <th>
                <div align="right">
                    {{ 'app.product.price'|trans }}
                </div>
            </th>
            <th>
                <div align="right">
                    {{ 'app.invoice.quantity_short'|trans }}
                </div>
            </th>
            <th>
                <div align="right">
                    {{ 'app.invoice.total'|trans }}
                </div>
            </th>
        </tr>
        {% for invoiceTreatment in entity.invoiceTreatments %}
            <tr>
                <td>{{ invoiceTreatment.treatment }}</td>
                <td align="right">{{ invoiceTreatment.price|price }}</td>
                <td align="right">{{ invoiceTreatment.quantity }}</td>
                <td align="right">{{ invoiceTreatment.total|price }}</td>
            </tr>
        {% endfor %}
        {% for invoiceProduct in entity.invoiceProducts %}
            <tr>
                <td>{{ invoiceProduct.product }}</td>
                <td align="right">{{ invoiceProduct.price|price }}</td>
                <td align="right">{{ invoiceProduct.quantity }}</td>
                <td align="right">{{ invoiceProduct.total|price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th colspan="4" align="right" class="inv-total">
                <div align="right">
                    {{ 'app.invoice.total'|trans|upper }}: {{ entity.total|price }}
                </div>
            </th>
        </tr>
        <tr>
            <th colspan="4" align="right" class="inv-total amount-due">
                <div align="right">
                    {{ 'app.invoice.amount_due'|trans|upper }}: {{ entity.amountDue|price }}
                </div>
            </th>
        </tr>
    </table>
{% endif %}
