{% extends '@App/Patient/layout.html.twig' %}
{% set subheader = entity.id ? entity : 'app.invoice.new' %}

{% block subActions %}
    {% set cancelPath = entity.id ? path('patient_invoice_view', {'patient':app_hash(patient), 'invoice':app_hash(entity)}) : path('patient_invoice_index', {'id':app_hash(entity.patient)}) %}
    <button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit');"
            class="btn btn-labeled btn-success"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-ok"></i></span>{{ 'app.action.save'|trans }}</button>

    <a href="{{ cancelPath }}" class="btn btn-labeled btn-danger"><span
                class="btn-label"><i
                    class="glyphicon glyphicon-remove"></i></span>{{ 'app.action.cancel'|trans }}</a>
{% endblock %}

{% block innerBody %}
<section class="content-panel">
    {{ form_start(form) }}

    {% include "@App/Invoice/include/update.html.twig" %}

    {{ form_end(form, {'render_rest': false}) }}
</section>
{% endblock %}
