{% extends '@App/Patient/layout.html.twig' %}

{% block header %}
    {{ entity.patient }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            {% set cancelPath = entity.id ? path('patient_invoice_view', {'patient':entity.patient.id, 'invoice':entity.id}) : path('patient_invoice_index', {'id':entity.patient.id}) %}
            <input type="submit" value="{{ 'app.action.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ cancelPath }}" class="btn btn-default">{{ 'app.action.cancel'|trans }}</a>
        {% endblock %}
    {% endembed %}

    {% include "@App/Invoice/include/update.html.twig" %}

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
