{% extends 'inner.html.twig' %}

{% block header %}
    {{ 'app.invoice.label'|trans }} {{ entity }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <div class="pull-left">
                <a href="{{ path('invoice_update', { 'id': entity.id }) }}"
                   class="btn btn-primary">{{ 'app.invoice.edit'|trans }}</a>

                <a data-href="{{ path('invoice_delete', { 'id': entity.id }) }}"
                   class="btn btn-danger" data-toggle="delete-confirmation">{{ 'app.invoice.delete'|trans }}</a>
            </div>
            <div class="pull-right">
                {% if entity.availableStatuses %}
                    {% for status in entity.availableStatuses %}
                        <a href="{{ path("invoice_status_update",{"id":entity.id,"status":status}) }}"
                           class="btn btn-{{ macros.getInvoiceStatusColor(status) }}">
                            {{ 'app.invoice.change_status'|trans({"%status%":macros.getInvoiceStatusLabel(status)}) }}
                        </a>
                    {% endfor %}
                {% endif %}

                <a href="{{ path('invoice_duplicate', { 'id': entity.id }) }}"
                   class="btn btn-default">{{ 'app.action.duplicate'|trans }}</a>

                <a href="{{ path('invoice_pdf', { 'id': entity.id }) }}" target="_blank"
                   class="btn btn-default">{{ 'app.invoice.pdf'|trans }}</a>

                <a href="#" class="btn btn-default send-invoice-pdf"
                   data-id="{{ entity.id }}">{{ 'app.invoice.email_pdf'|trans }}</a>
            </div>

        {% endblock %}
    {% endembed %}

    {% include "@App/Invoice/include/view.html.twig" %}

    {% include "@App/Invoice/include/pdfSend.html.twig" %}

{% endblock %}
