{% extends '@App/Patient/layout.html.twig' %}

{% block header %}
    {{ entity.patient }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <div class="pull-left">
                <a href="{{ path('patient_invoice_update', {'patient':entity.patient.id, 'invoice':entity.id}) }}"
                   class="btn btn-primary">{{ 'app.invoice.edit'|trans }}</a>

                <a href="{{ path('patient_invoice_delete', {'patient':entity.patient.id, 'invoice':entity.id}) }}"
                   class="btn btn-danger">{{ 'app.invoice.delete'|trans }}</a>
            </div>
            <div class="pull-right">
                {% if entity.availableStatuses %}
                    {% for status in entity.availableStatuses %}
                        <a href="{{ path("patient_invoice_status_update",{'patient':entity.patient.id, "invoice":entity.id,"status":status}) }}"
                           class="btn btn-{{ macros.getInvoiceStatusColor(status) }}">
                            {{ 'app.invoice.change_status'|trans({"%status%":macros.getInvoiceStatusLabel(status)}) }}
                        </a>
                    {% endfor %}
                {% endif %}

                <a href="{{ path('patient_invoice_duplicate', {'patient':entity.patient.id, 'invoice':entity.id}) }}"
                   class="btn btn-default">{{ 'app.action.duplicate'|trans }}</a>

                <a href="#" class="btn btn-default">{{ 'app.invoice.pdf'|trans }}</a>

                <a href="#" onclick="notify('{{ 'app.invoice.message.pdf_sent'|trans }}','success');"
                   class="btn btn-default">{{ 'app.invoice.email_pdf'|trans }}</a>
            </div>

        {% endblock %}
    {% endembed %}

    {% include "@App/Invoice/include/view.html.twig" %}

{% endblock %}
