{% import '@App/macros.html.twig' as macros %}

<form name="{{ form.vars.name }}" method="post" class="app-refund-invoice-form"
      action="{{ path('refund_invoice_create',{'invoice': app_hash(entity.invoice)}) }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {# macros.horizontalRow(form.items) #}
    {{ form_widget(form.items) }}
    {{ form_row(form.itemsTotal) }}
    {{ form_row(form.paymentsTotal) }}

    <div class="app-buttons-placeholder">
        {% include "@App/Refund/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
