{% if entity.id is not null %}
    <a href="#" class="pull-left delete-apt app-goal-remove"
       data-entity-id="{{ app_hash(entity) }}" data-entity-label="{{ 'app.goal.label'|trans }}">{{ 'app.action.delete'|trans }}</a>
{% endif %}

<button type="button" class="btn  btn-default" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>

<button type="submit" onclick="$('form[name={{ form.vars.name }}]').trigger('submit'); return false;"
        class="btn btn-success">{{ 'app.action.save'|trans }}</button>

