{% import "@App/macros.html.twig" as macros %}

{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'app.patient.label'|trans }}</th>
                <th>{{ 'app.email'|trans }}</th>
                <th>{{ 'app.phone.label'|trans }}</th>
                <th>{{ 'app.appointment.next'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        <a href="{{ path('patient_view', { 'id': app_hash(entity) }) }}">{{ entity }} (Ref: {{ entity.patientNumberFormatted }})</a>
                    </td>
                    <td>
                        {% if entity.email %}
                            <a href="mailto:{{ entity.email }}">{{ entity.email }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% set isoCode = null %}
                        {% if entity.state %}
                            {% set isoCode = entity.state.country.isoCode %}
                        {% endif %}
                        {{ macros.renderPhone(entity.mobilePhone, isoCode) }}
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
