<section class="content-panel">

    {{ form_start(form) }}

    <section class="detail-section patient-mandatory">
        <h3>{{ 'app.mandatory'|trans }}</h3>

        <div class="row no-gutter">
            <div class="col-sm-2">
                {{ form_row(form.title) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col-sm-5">
                {{ form_row(form.lastName) }}
            </div>
            <div class="col-sm-12">
                {{ form_row(form.preferredName) }}
            </div>
            <div class="col-sm-6">
                {{ form_row(form.gender) }}
            </div>
            <div class="col-sm-6 date-selectors">
                {{ form_row(form.dateOfBirth) }}
            </div>
            <div class="col-sm-6 date-selectors">
                {{ form_row(form.mobilePhone) }}
            </div>

            {# Todo: create referrer field widget #}
            <div class="col-sm-12">
                <div class="form-group {{ macros.errorClass(form.referrer) }}">
                    {{ form_label(form.referrer) }}
                    <p class="text-muted small">{{ 'app.patient.referrer_hint'|trans }}</p>
                    {{ form_widget(form.referrer) }}
                    {{ form_errors(form.referrer) }}
                </div>
            </div>
        </div>
    </section>

    <section class="detail-section">
        <h3>{{ 'app.related_patient.plural_label'|trans }}</h3>
        {% include "@App/RelatedPatient/updateList.html.twig" %}
    </section>

    <section class="detail-section">
        <h3>{{ 'app.patient.contact_information'|trans }}</h3>
        {% include "@App/Phone/updateList.html.twig" %}
        {{ form_row(form.email) }}
        {{ form_row(form.addressFirst) }}
        {{ form_row(form.addressSecond) }}
        <div class="row no-gutter">
            <div class="col-sm-4">
                {{ form_row(form.city) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.state) }}
            </div>
            <div class="col-sm-4">
                {{ form_row(form.postCode) }}
            </div>
        </div>
    </section>

    <section class="detail-section">
        <h3>{{ 'app.patient.other'|trans }}</h3>
        {{ form_row(form.concession) }}
        {{ form_row(form.occupation) }}
        {{ form_row(form.emergencyContact) }}
        {{ form_row(form.healthFund) }}
        {{ form_row(form.referrer) }}
        {{ form_row(form.notes) }}
    </section>

    <section class="detail-section">
        <h3>{{ 'app.patient.notification_settings'|trans }}</h3>
        {{ form_row(form.autoRemindSMS) }}
        {{ form_row(form.autoRemindEmail) }}
        {{ form_row(form.bookingConfirmationEmail) }}
    </section>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

    {% include "@App/Patient/include/buttons.html.twig" %}

</section>
