{% extends '@App/UserSettings/layout.html.twig' %}
{% import '@App/macros.html.twig' as macros %}

{% block innerBody %}

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.settings.account'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="general">
                {{ macros.loaderSmall() }}
            </div>
        </div>
        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('settings_general');

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    if (typeof data.form !== 'undefined') {
                        $('#general').html(data.form);
                    }
                    loaderHide();
                });

                $('body').on('submit', 'form.app-profile-settings-form', function (e) {
                    e.preventDefault();

                    var form = $(this);
                    ajaxFormHandler(form, function (data) {
                        if (data.error) {
                            //notify('app.form.not_valid', 'danger');
                        }
                    });
                });
            });

        </script>
    </section>

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'change_password.submit'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="security">
                {{ macros.loaderSmall() }}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('settings_security');

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    if (typeof data.form !== 'undefined') {
                        $('#security').html(data.form);
                    }
                    loaderHide();
                });

                $('body').on('submit', 'form.app-settings-change-password-form', function (e) {
                    e.preventDefault();

                    var form = $(this);
                    ajaxFormHandler(form, function (data) {
                        if (data.error) {
                            //notify('app.form.not_valid', 'danger');
                        }
                    });
                });
            });

        </script>
    </section>

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.invoice_settings.label'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="invoice-settings">
                {{ macros.loaderSmall() }}
            </div>

            <hr/>
            <div id="invoice-payment-methods">
                {{ macros.loaderSmall() }}
            </div>
        </div>


        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('invoice_payment_method_index');

                $.get(url, {}, function (data) {
                    $('#invoice-payment-methods').html(data);
                    loaderHide();
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('invoice_settings_update');

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    if (typeof data.form !== 'undefined') {
                        $('#invoice-settings').html(data.form);
                    }
                    loaderHide();
                });

                $('body').on('submit', 'form.app-settings-invoice-form', function (e) {
                    e.preventDefault();

                    var form = $(this);
                    ajaxFormHandler(form, function (data) {
                        if (data.error) {
                            //notify('app.form.not_valid', 'danger');
                        }
                    });
                });
            });
        </script>
    </section>

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.patient.plural_label'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="concessions">
                {{ macros.loaderSmall() }}
            </div>

            <hr/>
            <div id="treatment-note-templates">
                {{ macros.loaderSmall() }}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('treatment_note_template_index');

                $.get(url, {}, function (data) {
                    $('#treatment-note-templates').html(data);
                    loaderHide();
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('concession_index');

                $.get(url, {}, function (data) {
                    $('#concessions').html(data);
                    loaderHide();
                });
            });
        </script>

    </section>

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.calendar_settings.label'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="calendar-settings">
                {{ macros.loaderSmall() }}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('calendar_settings_update');

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    if (typeof data.form !== 'undefined') {
                        $('#calendar-settings').html(data.form);
                    }
                    loaderHide();
                });

                $('body').on('submit', 'form.app-settings-calendar-form', function (e) {
                    e.preventDefault();

                    var form = $(this);
                    ajaxFormHandler(form, function (data) {
                        if (data.error) {
                            //notify('app.form.not_valid', 'danger');
                        }
                    });
                });
            });
        </script>
    </section>


    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.message_log.label'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="communications-settings">
                {{ macros.loaderSmall() }}
            </div>

            <hr/>
            <div id="recall-reasons">
                {{ macros.loaderSmall() }}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('communications_settings_update');

                $.get(url, {}, function (data) {
                    data = $.parseJSON(data);
                    if (typeof data.form !== 'undefined') {
                        $('#communications-settings').html(data.form);
                    }
                    loaderHide();
                });

                $('body').on('submit', 'form.app-settings-communications-form', function (e) {
                    e.preventDefault();

                    var form = $(this);
                    ajaxFormHandler(form, function (data) {
                        console.log(data);
                        if (data.error) {
                            //notify('app.form.not_valid', 'danger');
                        }
                    });
                });
            });
        </script>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('recall_for_index');

                $.get(url, {}, function (data) {
                    $('#recall-reasons').html(data);
                    loaderHide();
                });
            });
        </script>
    </section>

    <section class="content-panel settings-panel">
        <h4>
            <a href="#" class="app-settings-toggle"><i class="fa fa-plus-square-o"
                                                       aria-hidden="true"></i>{{ 'app.document.plural_label'|trans }}
            </a>
        </h4>

        <div class="settings-collapse">
            <hr/>
            <div id="document-categories">
                {{ macros.loaderSmall() }}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                loaderShow();

                var url = Routing.generate('document_category_index');

                $.get(url, {}, function (data) {
                    $('#document-categories').html(data);
                    loaderHide();
                });
            });
        </script>
    </section>

    <script>
        $(document).ready(function () {
            $('body').on('click', '.app-settings-toggle', function (e) {
                e.stopPropagation();
                e.preventDefault();
                $(this).find('i:first').toggleClass('fa-minus-square-o fa-plus-square-o');
                $(this).parents('.settings-panel:first').find('.settings-collapse:first').slideToggle(200);
            });
        });
    </script>


{% endblock %}
