<section class="content-panel dashboard-panel task-list">
    <h2 class="panel-title">{{ 'app.task.list'|trans }}
        <div class="pull-right">
            {{ widgetState ? '<span class="chevron glyphicon glyphicon-chevron-up"></span>' : '<span class="chevron glyphicon glyphicon-chevron-down"></span>' }}
        </div>
    </h2>

    <div class="widget-content {{ widgetState ? '' : 'display-none' }}" data-widget-name="{{ widgetName }}">

        <h3>
            {{ 'app.task.today'|trans }}
            <a href="#" class="add-task app-task-create">{{ 'app.task.new'|trans }}</a>
        </h3>

        {% if today_tasks|length > 0 %}

            <div class="table">

                {% for entity in today_tasks %}
                    <div class="table-row {{ entity.recurringTask.repeats != 'once' ? 'task-recurring' : '' }}">
                        <div class="table-cell">
                            <a href="#" class="app-task-edit"
                               data-entity-id="{{ app_hash(entity.recurringTask) }}">{{ entity.recurringTask.text }}</a>
                        </div>
                        <div class="table-cell right-align">
                            <input class="task-completed" {{ entity.completed ? 'checked' : '' }}
                                   data-entity-id="{{ app_hash(entity) }}" type="checkbox">
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% else %}
            <p>
                {{ 'app.task.no_tasks_today'|trans }}
            </p>
        {% endif %}

        {% if prev_tasks|length > 0 %}

            <h3>{{ 'app.task.previous'|trans }}</h3>

            <div class="table">

                {% for entity in prev_tasks %}
                    <div class="table-row {{ entity.recurringTask.repeats != 'once' ? 'task-recurring' : '' }}">
                        <div class="table-cell">
                            <span class="task-date">{{ entity.date|app_date }}</span>
                            <a href="#" class="app-task-edit"
                               data-entity-id="{{ app_hash(entity.recurringTask) }}">{{ entity.recurringTask.text }}</a>
                        </div>
                        <div class="table-cell right-align">
                            <input class="task-completed" {{ entity.completed ? 'checked' : '' }}
                                   data-entity-id="{{ app_hash(entity) }}" type="checkbox">
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% endif %}

        <div>
            <a href="{{ path('task_index') }}" class="view-all">{{ 'app.task.view_all_tasks'|trans }}</a>
        </div>

    </div>

</section>
