<section class="content-panel dashboard-panel pending-invoices">
    <h2 class="panel-title">{{ 'app.invoice.pending_invoices'|trans }}
        <div class="pull-right">
            {{ widgetState ? '<span class="chevron glyphicon glyphicon-chevron-up"></span>' : '<span class="chevron glyphicon glyphicon-chevron-down"></span>' }}
        </div>
    </h2>

    <div class="widget-content {{ widgetState ? '' : 'display-none' }}" data-widget-name="{{ widgetName }}">

        {% if invoices|length > 0 %}

            <div class="table patient-list invoice-list">

                <div class="table-row table-header">
                    <div class="table-cell">{{ 'app.invoice.label'|trans }}</div>
                    <div class="table-cell">{{ 'app.invoice.name'|trans }}</div>
                    <div class="table-cell right-align">{{ 'app.invoice.amount'|trans }}</div>
                    <div class="table-cell right-align">{{ 'app.invoice.status'|trans }}</div>
                </div>

                {% for entity in invoices %}
                    <div class="table-row"
                         onclick="location.href = '{{ path('invoice_view',{'id':app_hash(entity)}) }}';">
                        <div class="table-cell">{{ entity.name }}</div>
                        <div class="table-cell">{{ entity.patient }}</div>
                        <div class="table-cell right-align">{{ entity.total|price }}</div>
                        <div class="table-cell right-align">{% include "@App/Invoice/include/statusBadge.html.twig" %}</div>
                    </div>
                {% endfor %}

            </div>

        {% else %}

            {{ 'app.invoice.no_pending_invoices'|trans }}

        {% endif %}

    </div>

</section>
