<section class="content-panel">

    <input type="hidden" name="current-date" value="{{ date|app_datetime }}">

    {% for resource in resources %}
    <input type="hidden" class="app-resource-ids" value="{{ resource.id }}">
    {% endfor %}

    <div class="date-scroll">
        <h2>{{ date|app_date_and_week_day }}</h2>
        <a href="#" class="scroll-prev" data-date="{{ datePrev }}"></a>
        <a href="#" class="scroll-next" data-date="{{ dateNext }}"></a>
    </div>

    <table width="100%" class="appt-list">

        {% set resCounter = 0 %}

        {% for interval in intervals %}
            {% set intervalEvents = eventUtils.intervalEvents(interval['start'],interval['end']) %}
            {% if intervalEvents|length>0 %}
                {% set resCounter = resCounter+1 %}

                <tr>

                    {% for resource in resources %}

                        {% set resourceIntervalEvent = eventUtils.intervalEvents(interval['start'],interval['end'],resource) %}

                        {% if resourceIntervalEvent %}
                            <td width="50%" data-event-id="{{ resourceIntervalEvent.id }}"
                                data-resource-id="{{ resource.id }}"
                                data-resource-counter="{{ resCounter }}" class="appt-item cell-event">

                                <div class="appt-info">
                                    <span class="time">{{ resourceIntervalEvent.start|app_time_calendar_widget }}</span>
                                    <span class="name">{{ resourceIntervalEvent.patient }}</span>
                                </div>
                                <div class="appt-meta">
                                    {{ resourceIntervalEvent.treatment }}
                                    <span class="duration">{{ resourceIntervalEvent.durationInMinutes }} {{ 'app.event.minute_short'|trans }}</span>

                                    {% if resourceIntervalEvent.patient.alerts|length %}
                                        {% for alert in resourceIntervalEvent.patient.alerts %}
                                            <div class="appt-alert">
                                                <a href="#" class="app-patient-alert-edit" data-entity-id="{{ app_hash(alert) }}">{{ alert }}</a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                </div>
                            </td>
                        {% else %}
                            <td width="50%" data-resource-id="{{ resource.id }}"
                                data-resource-counter="{{ resCounter }}" class="cell-empty">&nbsp;
                            </td>
                        {% endif %}

                    {% endfor %}

                </tr>

            {% endif %}
        {% endfor %}

    </table>

    <!--
    <div class="date-scroll">
        <h2>Tuesday, 13 May</h2>
        <a href="#" class="scroll-prev"></a>
        <a href="#" class="scroll-next"></a>
    </div>

    <table class="appt-list">

        <tr>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">2:00<span>pm</span></span>
                    <span class="name">Jim Smith</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">2:00<span>pm</span></span>
                    <span class="name">Bob Jones</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="appt-item" rowspan="2">
                <div class="appt-info">
                    <span class="time">2:15<span>pm</span></span>
                    <span class="name">Patient name</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">30 min</span>
                    <a class="appt-alert">This is a patient alert, if you click on it the alert edit modal will
                        open.</a>
                </div>
            </td>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">2:15<span>pm</span></span>
                    <span class="name">Patient name</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                    <a class="appt-alert">This is a patient alert, if you click on it the alert edit modal will
                        open.</a>
                </div>
            </td>
        </tr>
        <tr>
            <td class="appt-item" rowspan="2">
                <div class="appt-info">
                    <span class="time">2:30<span>pm</span></span>
                    <span class="name">Patient name</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">30 min</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">2:45<span>pm</span></span>
                    <span class="name">Patient name</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">3:00<span>pm</span></span>
                    <span class="name">Jim Smith</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
            <td class="appt-item" rowspan="3">
                <div class="appt-info">
                    <span class="time">3:00<span>pm</span></span>
                    <span class="name">Bob Jones</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">45 min</span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">3:15<span>pm</span></span>
                    <span class="name">Jim Smith</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="appt-item" rowspan="2">
                <div class="appt-info">
                    <span class="time">3:30<span>pm</span></span>
                    <span class="name">Jim Smith</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">30 min</span>
                </div>
            </td>
        </tr>

        <tr>
            <td class="appt-item">
                <div class="appt-info">
                    <span class="time">3:30<span>pm</span></span>
                    <span class="name">Jim Smith</span>
                </div>
                <div class="appt-meta">
                    Chiropractic Standard
                    <span class="duration">15 min</span>
                </div>
            </td>
        </tr>

    </table>
    <?php // end appointment list ?>
    -->

</section>
