<section class="content-panel dashboard-panel recall-list">
    <h2 class="panel-title">{{ 'app.recall.patient_recalls'|trans }}
        <div class="pull-right">
            {{ widgetState ? '<span class="chevron glyphicon glyphicon-chevron-up"></span>' : '<span class="chevron glyphicon glyphicon-chevron-down"></span>' }}
        </div>
    </h2>

    <div class="widget-content {{ widgetState ? '' : 'display-none' }}" data-widget-name="{{ widgetName }}">

        {% if today_recalls|length > 0 %}

        <h3>{{ 'app.recall.today'|trans }}</h3>

        <div class="table patient-list invoice-list">

            <div class="table-row table-header">
                <div class="table-cell">{{ 'app.patient.label'|trans }}</div>
                <div class="table-cell">{{ 'app.recall_for.label'|trans }}</div>
                <div class="table-cell">{{ 'app.recall_type.label'|trans }}</div>
            </div>

            {% for entity in today_recalls %}
                <div class="table-row app-patient-recall-edit" data-can-be-opened="{{ entity.recallType ? '1' :'0' }}"
                     data-entity-id="{{ app_hash(entity) }}">
                    <div class="table-cell">{{ entity.patient }}</div>
                    <div class="table-cell">{{ entity.recallFor ? entity.recallFor : entity.text }}</div>
                    <div class="table-cell">
                        <select name="recallType" data-id="{{ app_hash(entity) }}">
                            {% if not entity.recallType %}
                                <option value="" selected>- Choose -</option>
                            {% endif %}
                            {% for recallType in recallUtils.getAvailableRecallsByPatient(entity.patient) %}
                                <option value="{{ app_hash(recallType) }}" {{ entity.recallType == recallType ? "selected" : "" }}>{{ recallType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    {% endif %}

    {% if prev_recalls|length > 0 %}

        <h3>{{ 'app.recall.previous'|trans }}</h3>

        <div class="table patient-list invoice-list">

            <div class="table-row table-header">
                <div class="table-cell">{{ 'app.patient.label'|trans }}</div>
                <div class="table-cell">{{ 'app.recall_for.label'|trans }}</div>
                <div class="table-cell">{{ 'app.recall_type.label'|trans }}</div>
                <div class="table-cell">&nbsp</div>
            </div>


            {% for entity in today_recalls %}
                <div class="table-row app-patient-recall-edit" data-can-be-opened="{{ entity.recallType ? '1' :'0' }}" data-entity-id="{{ app_hash(entity) }}">
                    <div class="table-cell">{{ entity.patient }}</div>
                    <div class="table-cell">{{ entity.recallFor ? entity.recallFor : entity.text }}</div>
                    <div class="table-cell">
                        <select name="recallType" data-id="{{ app_hash(entity) }}">
                            {% if not entity.recallType %}
                                <option value="" selected>- Choose -</option>
                            {% endif %}
                            {% for recallType in recallUtils.getAvailableRecallsByPatient(entity.patient) %}
                                <option value="{{ app_hash(recallType) }}" {{ entity.recallType == recallType ? "selected" : "" }}>{{ recallType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endif %}

    {% if today_recalls|length == 0 and prev_recalls|length == 0 %}
        {{ 'app.recall.no_recalls'|trans }}
    {% endif %}

    </div>

</section>
