<section class="content-panel dashboard-panel draft-treatments">
    <h2 class="panel-title">{{ 'app.treatment_note.draft_treatment_notes'|trans }}
        <div class="pull-right">
            {{ widgetState ? '<span class="chevron glyphicon glyphicon-chevron-up"></span>' : '<span class="chevron glyphicon glyphicon-chevron-down"></span>' }}
        </div>
    </h2>

    <div class="widget-content {{ widgetState ? '' : 'display-none' }}" data-widget-name="{{ widgetName }}">

        {% if treatmentNotes|length > 0 %}

            <div class="table patient-list invoice-list">

                <div class="table-row table-header">
                    <div class="table-cell">{{ 'app.patient.label'|trans }}</div>
                    <div class="table-cell">{{ 'app.treatment_note.label'|trans }}</div>
                </div>

                {% for entity in treatmentNotes %}
                    <div class="table-row"
                         onclick="location.href = '{{ path('treatment_note_index',{'id':app_hash(entity.patient)}) }}';">
                        <div class="table-cell">{{ entity.patient }}</div>
                        <div class="table-cell">{{ entity.name }}</div>
                    </div>
                {% endfor %}

            </div>

        {% else %}

            {{ 'app.treatment_note.no_draft_treatment_notes'|trans }}

        {% endif %}

    </div>

</section>
