<section class="content-panel dashboard-panel communications-list">
    <h2 class="panel-title">
        {{ 'app.message.latest_communications'|trans }}
        <div class="pull-right">
            {{ widgetState ? '<span class="chevron glyphicon glyphicon-chevron-up"></span>' : '<span class="chevron glyphicon glyphicon-chevron-down"></span>' }}
        </div>
    </h2>

    <div class="widget-content {{ widgetState ? '' : 'display-none' }}" data-widget-name="{{ widgetName }}">

        {% if communications|length > 0 %}

            {% include "@App/MessageLog/include/gridList.html.twig" with {'entities': communications, 'limitAmount': 10} %}

        {% else %}

            {{ 'app.message.no_communications'|trans }}

        {% endif %}

        <div>
            <a href="{{ path('message_log_index') }}"
               class="view-all">{{ 'app.message.view_all_communications'|trans }}</a>
        </div>

    </div>

</section>
