<section class="content-panel dashboard-panel task-list">
    <h2 class="panel-title">{{ 'app.task.list'|trans }}</h2>

    <h3>
        {{ 'app.task.today'|trans }}
        <a href="#" class="add-task app-task-create">{{ 'app.task.new'|trans }}</a>
    </h3>

    {% if today_tasks|length > 0 %}

        <div class="table">

            {% for entity in today_tasks %}
                <div class="table-row">
                    <div class="table-cell">
                        {#<span class="task-date">{{ entity.date|app_date }}</span>#}
                        <a href="#" class="app-task-edit" data-entity-id="{{ app_hash(entity) }}">{{ entity.text }}</a>
                    </div>
                    <div class="table-cell right-align">
                        <input class="task-completed" {{ entity.completed ? 'checked' : '' }} data-entity-id="{{ app_hash(entity) }}" type="checkbox">
                    </div>
                </div>
                {#
                <div class="table-row task-recurring">
                    <div class="table-cell">
                        <span class="task-date">Mar 26</span>
                        <a href="#" data-toggle="modal" data-target=".modal-task">This is a recurring task that was not checked off on a previous day it was due.</a>
                    </div>
                    <div class="table-cell right-align">
                        <input type="checkbox">
                    </div>
                </div>
                #}
            {% endfor %}

        </div>

    {% endif %}

    {% if prev_tasks|length > 0 %}

        <h3>{{ 'app.task.previous'|trans }}</h3>

        <div class="table">

            {% for entity in prev_tasks %}
                <div class="table-row">
                    <div class="table-cell">
                        <span class="task-date">{{ entity.date|app_date }}</span>
                        <a href="#" class="app-task-edit" data-entity-id="{{ app_hash(entity) }}">{{ entity.text }}</a>
                    </div>
                    <div class="table-cell right-align">
                        <input class="task-completed" {{ entity.completed ? 'checked' : '' }} data-entity-id="{{ app_hash(entity) }}" type="checkbox">
                    </div>
                </div>
            {% endfor %}

        </div>

    {% endif %}

    {% if today_tasks|length == 0 and prev_tasks|length == 0 %}
        {{ 'app.task.no_tasks'|trans }}
    {% endif %}

</section>
