<div class="margin-bottom-10" style="position: relative; top: -10px;">
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.start) }}
                </div>
                <div class="col-md-6">
                    {{ form_label(form.end) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <div class="row">
                <div class="col-md-6 app-event-time-start">
                    {{ form_widget(form.start) }}
                </div>
                <div class="col-md-6 app-event-time-end">
                    {{ form_widget(form.end) }}
                </div>
            </div>
            <div class="has-error">
                {{ form_errors(form.start) }}
                {{ form_errors(form.end) }}
            </div>
        </div>
    </div>
</div>
