{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'app.invoice.label'|trans }}</th>
                <th>{{ 'app.invoice.date_short'|trans }}</th>
                <th>{{ 'app.invoice.name'|trans }}</th>
                <th align="right" class="right-align">{{ 'app.invoice.amount'|trans }}</th>
                <th align="right" class="right-align">{{ 'app.invoice.status'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('invoice_view', { 'id': app_hash(entity) }) }}">{{ entity }}</a></td>
                    <td>{{ entity.date|app_date }}</td>
                    <td><a href="{{ path('patient_view', { 'id': app_hash(entity.patient) }) }}">{{ entity.patient }}</a></td>
                    <td align="right" class="right-align">{{ entity.total|price }}</td>
                    <td align="right" class="right-align">{% include "@App/Invoice/include/statusBadge.html.twig" %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
