<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>{{ 'app.invoice.number'|trans }}</th>
        <th>{{ 'app.invoice.date'|trans }}</th>
        <th>{{ 'app.patient.label'|trans }}</th>
        <th>{{ 'app.invoice.total'|trans }}</th>
        <th>{{ 'app.invoice.status'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in invoices %}
        <tr>
            <td><a href="{{ path('patient_invoice_view', {'patient':entity.patient.id, 'invoice':entity.id}) }}">{{ entity }}</a></td>
            <td>{{ entity.date|date('m/d/Y') }}</td>
            <td><a href="{{ path('patient_view', { 'id': entity.patient.id }) }}">{{ entity.patient }}</a></td>
            <td>{{ entity.total|price }}</td>
            <td>{% include "@App/Invoice/include/statusBadge.html.twig" %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
