{#
<section class="detail-section">
    {% set status %}
        {% include "@App/Invoice/include/statusBadge.html.twig" %}
    {% endset %}

    {{ macros.detailRow('app.invoice.number'|trans,entity.name, true) }}
    {{ macros.detailRow('app.invoice.status'|trans,status, true) }}
</section>
#}
<section class="detail-section">
    <h3>{{ 'app.invoice.details'|trans }}</h3>

    <div class="hidden">
        {{ form_row(form.name) }}
    </div>
    <div class="row no-gutter">
        <div class="col-sm-4 date-selectors">
            {{ form_row(form.date,{'attr':{'style':'width:100%;'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.reminderFrequency,{'attr':{'style':'width:100%;'}}) }}
        </div>
        <div class="col-sm-4">
            {{ form_row(form.dueDate) }}
        </div>
    </div>
</section>

<section class="detail-section">
    <h3>{{ 'app.patient.patient_details'|trans }}</h3>
    <div class="row no-gutter" id="invoice-patient-container">
        <div class="col-sm-4">
            {{ form_row(form.patient,{'attr':{'style':'width:100%;'}}) }}
        </div>
        <div class="col-sm-8">
            {{ form_row(form.patientAddress,{'attr':{'style':'width:100%;'}}) }}
        </div>
    </div>
</section>

<section class="detail-section">
    <h3>{{ 'app.treatment.plural_label'|trans }}</h3>
    {% include "@App/Treatment/updateInvoiceTreatmentList.html.twig" %}
</section>

<section class="detail-section">
    <h3>{{ 'app.product.plural_label'|trans }}</h3>
    {% include "@App/Product/updateInvoiceProductList.html.twig" %}
</section>

<section class="detail-section">
    <h3>{{ 'app.invoice.notes'|trans }}</h3>
    {{ form_widget(form.notes) }}
</section>

<section class="detail-section patient-mandatory">
    <h3>{{ 'app.invoice_payment.plural_label_short'|trans }}</h3>
    {% include "@App/InvoicePayment/updateInvoicePaymentList.html.twig" %}
</section>

<script type="text/javascript">

    $(document).ready(function () {

        $(document).ready(function () {
            $("#walk-in").trigger('change');
        });

        if(!$('#{{ form.patient.vars.id }}').val()) {
            disableAddress();
        }

        $('body').on('change', '#{{ form.patient.vars.id }}', function () {
            if ($(this).val()) {
                enableAddress();

                $('#{{ form.patientAddress.vars.id }}').prop('disabled', true);

                var url = Routing.generate('patient_address_view', {
                    'id': $(this).val()
                });

                $.post(url, {}, function (data) {
                    var response = jQuery.parseJSON(data);
                    $('#{{ form.patientAddress.vars.id }}').val(response.address);
                    $('#{{ form.patientAddress.vars.id }}').prop('disabled', false);
                }, 'json');
            } else {
                disableAddress();
            }
        });

        function enableAddress() {
            $('#{{ form.patientAddress.vars.id }}').prop('disabled', false).trigger('change');
        }

        function disableAddress() {
            $('#{{ form.patientAddress.vars.id }}').val('').prop('disabled', true).trigger('change');
        }

        recalcPayments();
    })
</script>

{{ form_widget(form._token) }}
