{% set status %}
    {% include "@App/Invoice/include/statusBadge.html.twig" %}
{% endset %}

{% set patient %}
    {% if entity.patient %}
        <a href="{{ path('patient_view',{'id':app_hash(entity.patient)}) }}">{{ entity.patient }}</a>
    {% else %}
        {{ 'app.invoice.walk_in'|trans }}
    {% endif %}
{% endset %}

<div class="invoice-detail">

    <h2>{{ 'app.invoice.label'|trans }}</h2>

    <div class="invoice-status-box">
        <h4>
            {{ status }}
        </h4>
    </div>

    <div class="inv-from">
        <span>{{ entity.owner.businessName }}</span><br>
        {% if entity.owner.providerNumber %}
            {{ 'app.user.provider_number'|trans }}: {{ entity.owner.providerNumber }}<br>
        {% endif %}
        65 Main St, Sydney NSW 2000
    </div>

    <div class="inv-details">
        {{ macros.detailRow('app.invoice.number'|trans,entity.name) }}
        {{ macros.detailRow('app.date'|trans,entity.date|app_date) }}
        {{ macros.detailRow('app.invoice.due_date_short'|trans,entity.dueDateComputed|app_date) }}
        {{ macros.detailRow('app.invoice.reminder'|trans, entity.reminderFrequency ? 'app.invoice.reminder_frequency_value'|trans({'%interval%': entity.reminderFrequency}) : 'app.invoice.reminder_frequency_no'|trans) }}

    </div>

    <div class="inv-client">
        {% if entity.patient %}
            <span>{{ entity.patient }}</span>
            <div>
                {{ entity.patientAddress|escape }}
            </div>
        {% else %}
            <span>{{ 'app.invoice.walk_in'|trans }}</span>
        {% endif %}
    </div>

    {% include "@App/Invoice/invoiceItemsList.html.twig" %}

    {% if entity.notes %}
        <div class="inv-client">
            <span>{{ 'app.invoice.notes'|trans }}</span>
            <div>
                {{ entity.notes|nl2br|raw }}
            </div>
        </div>
    {% endif %}

    {% if entity.payments|length > 0 %}
        {% include "@App/InvoicePayment/include/list.html.twig" %}
    {% endif %}

    {% if entity.refunds|length>0 %}
        <div class="invoice-payments invoice-refunds">
            <h3>{{ 'app.refund.plural_label'|trans }}</h3>
            <div class="table inv-payments">

                <div class="table-row table-header">
                    <div class="table-cell">{{ 'app.refund.date'|trans }}</div>
                    <div class="table-cell">{{ 'app.refund.item'|trans }}</div>
                    <div class="table-cell">{{ 'app.refund.method'|trans }}</div>
                    <div class="table-cell right-align">{{ 'app.refund.amount'|trans }}</div>
                    <div class="table-cell">&nbsp;</div>
                </div>

                {% for refund in entity.refunds %}
                    {% for itemRefund in refund.items %}
                        <div class="table-row">
                            <div class="table-cell">{{ refund.createdAt|app_date }}</div>
                            <div class="table-cell">{{ itemRefund.item }}</div>
                            <div class="table-cell">Bank transfer</div>
                            <div class="table-cell right-align">{{ itemRefund.amount|price }}</div>
                            <div class="table-cell right-align row-delete"><i class="fa fa-times" aria-hidden="true"
                                                                              data-toggle="modal"
                                                                              data-target=".modal-delete"></i></div>
                        </div>
                    {% endfor %}
                {% endfor %}

            </div>
        </div>
    {% endif %}

    {% include "@App/InvoicePayment/include/modal.html.twig" %}
    {% include "@App/Refund/include/modal.html.twig" %}

</div>
