{% set status %}
    {% include "@App/Invoice/include/statusBadge.html.twig" %}
{% endset %}

{% set patient %}
    <a href="{{ path('patient_view',{'id':app_hash(entity.patient)}) }}">{{ entity.patient }}</a>
{% endset %}

{{ macros.detailRow('app.invoice.status'|trans,status) }}
{{ macros.detailRow('app.invoice.number'|trans,entity.name) }}
{{ macros.detailRow('app.invoice.date'|trans,entity.date|app_date) }}
{{ macros.detailRow('app.invoice.due_date_short'|trans,entity.dueDateComputed|app_date) }}
{{ macros.detailRow('app.invoice.reminder_frequency'|trans,entity.reminderFrequency ? 'app.invoice.reminder_frequency_value'|trans({'%interval%': entity.reminderFrequency}) : 'app.invoice.reminder_frequency_no'|trans) }}
{{ macros.detailRow('app.patient.label'|trans,patient) }}
{{ macros.detailRow('app.patient.patient_address'|trans,entity.patientAddress) }}


{% include "@App/Invoice/invoiceItemsList.html.twig" %}

{{ entity.notes|raw }}
