{% extends 'inner.html.twig' %}
{% set header = 'Reports'|trans %}
{% set headerIcon = 'title-invoices' %}

    {% block pageActions %}

    {% endblock %}

{% block body %}
    <section class="content-panel">
        <a href="{{ path('report_appointments') }}">{{ 'app.report.appointments.label'|trans }}</a><br/>
        <a href="{{ path('report_patients') }}">{{ 'app.report.patients.label'|trans }}</a><br/>
        <a href="{{ path('report_invoices') }}">{{ 'app.report.invoices.label'|trans }}</a><br/>
        <a href="{{ path('report_revenue') }}">{{ 'app.report.revenue.label'|trans }}</a><br/>
        <a href="{{ path('report_products') }}">{{ 'app.report.products.label'|trans }}</a><br/>
        <a href="{{ path('report_products_purchased') }}">{{ 'app.report.products_purchased.label'|trans }}</a><br/>
    </section>
{% endblock %}
