{% extends '@Report/report.html.twig' %}

{% set pageTitle = 'app.report.patients.label'|trans %}

{% block reportData %}

    {% if data and data.getChildren|length > 0 %}
        {% set report %}

            <table class="table table-bordered crm-table-fixed table-hover" width="100%">
                <thead>
                <tr>
                    <th>
                        {{ 'app.patient.label'|trans }}
                    </th>
                    <th>
                        {{ 'app.patient.mobile_phone'|trans }}
                    </th>
                    <th>
                        {{ 'app.email'|trans }}
                    </th>
                    <th>
                        {{ 'app.patient.referrer'|trans }}
                    </th>
                    {% if form.upcomingAppointment.vars.data == true %}
                        <th>
                            {{ 'app.appointment.label'|trans }}
                        </th>
                        <th>
                            {{ 'app.treatment.label'|trans }}
                        </th>
                    {% endif %}
                    {% if form.withRecall.vars.data == true %}
                        <th>
                            {{ 'app.recall.label'|trans }}
                        </th>
                    {% endif %}
                    {% if form.upcomingBirthday.vars.data == true %}
                        <th>
                            {{ 'app.report.patients.upcoming_birthday'|trans }}
                        </th>
                    {% endif %}
                </tr>
                </thead>

                <tbody>
                {{ _self.renderRows(data.getChildren, form) }}
                </tbody>
            </table>

        {% endset %}
    {% endif %}

    {{ report }}

    <script>
        $(document).ready(function () {

            $("form[name='{{ form.vars.name }}']").on("change", "#{{ form.recallDateRange.vars.id }}", function () {
                if ($(this).val() === "range") {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateStart.vars.id }}").parents('div.controls').show();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateEnd.vars.id }}").parents('div.controls').show();
                } else {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateStart.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateEnd.vars.id }}").parents('div.controls').hide();
                }
            });

            $("form[name='{{ form.vars.name }}']").on("change", "#{{ form.withRecall.vars.id }}", function () {
                if ($(this).is(':checked')) {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateRange.vars.id }}").parents('div.controls').show();
                    $("#{{ form.recallDateRange.vars.id }}").trigger('change');
                } else {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateRange.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateStart.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.recallDateEnd.vars.id }}").parents('div.controls').hide();
                }
            });

            $("form[name='{{ form.vars.name }}']").on("change", "#{{ form.upcomingBirthdayDateRange.vars.id }}", function () {
                if ($(this).val() === "range") {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateStart.vars.id }}").parents('div.controls').show();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateEnd.vars.id }}").parents('div.controls').show();
                } else {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateStart.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateEnd.vars.id }}").parents('div.controls').hide();
                }
            });

            $("form[name='{{ form.vars.name }}']").on("change", "#{{ form.upcomingBirthday.vars.id }}", function () {
                if ($(this).is(':checked')) {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateRange.vars.id }}").parents('div.controls').show();
                    $("#{{ form.upcomingBirthdayDateRange.vars.id }}").trigger('change');
                } else {
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateRange.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateStart.vars.id }}").parents('div.controls').hide();
                    $("form[name='{{ form.vars.name }}']").find("#{{ form.upcomingBirthdayDateEnd.vars.id }}").parents('div.controls').hide();
                }
            });

            $("#{{ form.recallDateRange.vars.id }}").trigger('change');
            $("#{{ form.upcomingBirthdayDateRange.vars.id }}").trigger('change');
            $("#{{ form.withRecall.vars.id }}").trigger('change');
            $("#{{ form.upcomingBirthday.vars.id }}").trigger('change');

        });
    </script>

{% endblock %}

{% macro renderRows(data, form) %}
    {% import '@Report/macros.html.twig' as crmReport %}

    {% for node in data %}

        <tr {{ crmReport.reportRowAttributes(node) }}>

            <td class="nowrap">
                <div {{ crmReport.reportPadding(node.level) }}>
                    {% set nodeName = (node.name ? node.name : 'N/A')|trans %}

                    {% if node.hasChildren %}
                        <a href="#" {{ crmReport.reportLinkAtributes(node) }} >{{ nodeName }}</a>
                    {% else %}
                        {{ nodeName }}
                    {% endif %}

                    {% if node.route %}
                        <a href="{{ node.route }}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                    {% endif %}
                </div>
            </td>

            {{ _self.renderValues(node, nodeName, form) }}

        </tr>

        {% if node.hasChildren %}
            {{ _self.renderRows(node.getChildren, form) }}
        {% endif %}

    {% endfor %}
{% endmacro %}

{% macro renderValues(node, nodeName, form) %}

    {% set gray1 = '#F8F9F9' %}
    {% set gray2 = '#F2F3F4' %}
    {% set gray3 = '#E5E7E9' %}
    {% set gray4 = '#D7DBDD' %}

    {#
    {% set fontWeight = node.level == 1 ? 'bold' : 'normal' %}
    #}

    {% set fontWeight = 'normal' %}

    <td style="font-weight: {{ fontWeight }};">
        <div class="nowrap text-left">
            {{ node.object.mobilePhone }}
        </div>
    </td>

    <td style="font-weight: {{ fontWeight }};">
        <div class="nowrap text-left">
            {{ node.object.email }}
        </div>
    </td>

    <td style="font-weight: {{ fontWeight }};">
        <div class="nowrap text-left">
            {{ node.object.referrer }}
        </div>
    </td>

    {% if form.upcomingAppointment.vars.data == true %}
        <td>
            {{ node.nextAppointment.start|app_date_and_week_day_full }}
            <span>{{ 'app.event.at'|trans }}</span> {{ node.nextAppointment.start|app_time }}
            <span>{{ 'app.event.for'|trans }}</span> {{ node.nextAppointment.getDurationInMinutes }} {{ 'app.event.minutes'|trans }}
        </td>
        <td>
            {{ node.nextAppointment.treatment }}
        </td>
    {% endif %}

    {% if form.withRecall.vars.data == true %}
        <td>
            <ul>
                {% for recall in node.recalls %}
                    <li>{{ recall.recallFor }} ({{ recall.recallType }})</li>
                {% endfor %}
            </ul>
        </td>
    {% endif %}

    {% if form.upcomingBirthday.vars.data == true %}
        <td>
            {{ node.object.dateOfBirth|date('M d') }}
        </td>
    {% endif %}

{% endmacro %}
