<form name="{{ form.vars.name }}" method="post" class="app-unavailable-block-form"
      action="{{ entity.id ? path('unavailable_block_update',{'id':app_hash(entity)}) : path('unavailable_block_create') }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {{ form_row(form.date) }}

    {{ include('@App/Event/include/dates.html.twig') }}

    {{ form_row(form.resource) }}
    {{ form_row(form.description) }}

    <div class="app-buttons-placeholder">
        {% include "@App/UnavailableBlock/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
