{% import '@App/macros.html.twig' as macros %}

<form name="{{ form.vars.name }}" method="post" class="app-unavailable-block-form"
      action="{{ entity.id ? path('unavailable_block_update',{'id':app_hash(entity)}) : path('unavailable_block_create') }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {{ macros.horizontalRow(form.date) }}

    {{ include('@App/Event/include/dates.html.twig') }}

    {{ macros.horizontalRow(form.resource) }}

    <div class="display-none">
        {{ macros.horizontalRow(form.isMirror) }}
    </div>

    <div class="app-buttons-placeholder">
        {% include "@App/UnavailableBlock/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
