{% extends '@App/Datagrid/datagrid.html.twig' %}

    {% block pagination %}
        <div class="app-datagrid-pagination">
            {{ knp_pagination_render(entities) }}
        </div>
    {% endblock %}

    {% block table %}
        {% set showPatient = entity is defined ? false : true %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'app.recall.date'|trans }}</th>
                <th>{{ 'app.recall_for.label'|trans }}</th>
                <th>{{ 'app.recall_type.label'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="#" class="app-patient-recall-edit" data-entity-id="{{ app_hash(entity) }}">{{ entity.date|app_date }}</a></td>
                    <td>{{ entity.recallFor ? entity.recallFor : entity.text }}</td>
                    <td>
                        <select name="recallType" data-id="{{ app_hash(entity) }}">
                            {% for recallType in recallUtils.getAvailableRecallsByPatient(entity.patient) %}
                                <option value="{{ app_hash(recallType) }}" {{ entity.recallType == recallType ? "selected" : "" }}>{{ recallType }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <div class="position-relative">
                            <a data-href="{{ path('recall_delete',{'id':app_hash(entity)}) }}"
                               class=""
                               data-toggle="delete-confirmation"
                               data-entity-label="{{ 'app.recall.label'|trans }}"><span
                                        class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endblock %}
