<section class="content-panel">

    <div class="sidebar-appointments">
        <a class="btn btn-labeled btn-default make-appt"
           href="{{ path('calendar_new_patient_event',{'patient':app_hash(patient)}) }}">
            <span class="btn-label"><i
                        class="glyphicon glyphicon-plus"></i></span>Make appointment</a>

        {% if nextAppointment %}
            <section class="margin-top-10">
                <h3>Next appointment</h3>
                <a href="#">{{ nextAppointment.start|app_date_and_week_day_full }}
                    <span>{{ 'app.event.at'|trans }}</span> {{ nextAppointment.start|app_time }}
                    <span>{{ 'app.event.for'|trans }}</span> {{ nextAppointment.getDurationInMinutes }} {{ 'app.event.minutes'|trans }}</a>
            </section>
        {% endif %}

        {% if prevAppointment %}
            <section class="margin-top-10">
                <h3>Previous appointment</h3>
                <a href="#">{{ prevAppointment.start|app_date_and_week_day_full }}
                    <span>{{ 'app.event.at'|trans }}</span> {{ prevAppointment.start|app_time }}
                    <span>{{ 'app.event.for'|trans }}</span> {{ prevAppointment.getDurationInMinutes }} {{ 'app.event.minutes'|trans }}</a>
            </section>
        {% endif %}

    </div>

</section>
