<section class="content-panel">

    <div class="sidebar-appointments">
        <a class="btn btn-labeled btn-default make-appt"
           href="{{ path('calendar_new_patient_event',{'patient':app_hash(patient)}) }}">
            <span class="btn-label"><i
                        class="glyphicon glyphicon-plus"></i></span>Make appointment</a>

        {% if nextAppointment %}
            <section class="margin-top-10">
                <h3>Next appointment</h3>
                <a href="#" class="app-appointment-view"
                    data-entity-id="{{ app_hash(nextAppointment, eventClass) }}">{{ nextAppointment.start|app_date_and_week_day }}</a>
            </section>
        {% endif %}

        {% if prevAppointment %}
            <section class="margin-top-10">
                <h3>Previous appointment</h3>
                <a href="#" class="app-appointment-view"
                   data-entity-id="{{ app_hash(prevAppointment, eventClass) }}">{{ prevAppointment.start|app_date_and_week_day }}</a>
            </section>
        {% endif %}

    </div>

</section>
