<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                {{ entity.treatment }}
            </h4>
            <div class="appt-time">
                {{ entity.start|app_date_and_week_day_full }}
                <span>{{ 'app.event.at'|trans }}</span> {{ entity.start|app_time }}
                <span>{{ 'app.event.for'|trans }}</span> {{ entity.getDurationInMinutes }} {{ 'app.event.minutes'|trans }}
            </div>
        </div>

        <div class="modal-body">
            <div class="row">

                <div class="col-md-8">
                    <div class="appt-info">
                        <strong>{{ entity.patient }}</strong><br>
                        {% if entity.patient.mobilePhone %}
                            {{ entity.patient.mobilePhone }}<br>
                        {% endif %}
                        {% if entity.patient.email %}
                            <a href="mailto:{{ entity.patient.email }}">{{ entity.patient.email }}</a>
                        {% endif %}

                        {% if nextAppointment %}
                            <div class="appt-next">
                                <strong>{{ 'app.appointment.next'|trans }}:</strong><br>
                                <a href="#" class="app-appointment-view"
                                   data-entity-id="{{ app_hash(nextAppointment, eventClass) }}">{{ nextAppointment.start|app_date_and_week_day }}</a>
                            </div>
                        {% endif %}

                        {% if entity.description %}
                            <div class="appt-note">
                                {{ entity.description }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-4">
                    <div class="appt-actions">
                        {% if not entity.patientArrived == true %}
                            <a href="#"
                               class="btn btn-default btn-block app-patient-arrived "
                               data-entity-id="{{ app_hash(entity) }}">{{ 'app.appointment.patient_arrived'|trans }}</a>
                        {% endif %}

                        {% if not entity.invoice %}
                            <a href="{{ path('appointment_invoice_create',{'patient':app_hash(entity.patient),'appointment':app_hash(entity)}) }}"
                               class="btn btn-default btn-block">{{ 'app.invoice.new'|trans }}</a>
                        {% else %}
                            <a href="{{ path('invoice_view',{'id':app_hash(entity.invoice)}) }}"
                               class="btn btn-default btn-block">{{ 'app.invoice.view'|trans }}</a>
                        {% endif %}

                        {% if not entity.treatmentNote %}
                            <a href="{{ path('appointment_treatment_note_create',{'patient':app_hash(entity.patient), 'template':app_hash(defaultTemplate),'appointment':app_hash(entity)}) }}"
                               class="btn btn-default btn-block">{{ 'app.treatment_note.new'|trans }}</a>
                        {% else %}
                            <a href="{{ path('treatment_note_view',{'patient':app_hash(entity.patient),'treatmentNote':app_hash(entity.treatmentNote)}) }}"
                               class="btn btn-default btn-block">{{ 'app.treatment_note.view'|trans }}</a>
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <a href="#" class="btn btn-default app-appointment-edit"
               data-entity-id="{{ app_hash(entity, eventClass) }}">{{ 'app.action.edit'|trans }}</a>

            <div class="btn-group">
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {{ 'app.action.cancel'|trans }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for reason in cancelReasons %}
                        <li><a href="#" class="app-appointment-cancel"
                               data-cancel-reason-id="{{ app_hash(reason) }}"
                               data-entity-id="{{ app_hash(entity) }}">{{ reason }}</a></li>
                    {% endfor %}
                    <li role="separator" class="divider"></li>
                    <li><a href="#" data-toggle="dropdown">{{ 'app.action.dont_cancel'|trans }}</a></li>
                </ul>
            </div>

            <a href="{{ path('calendar_event_reschedule',{'event':app_hash(entity, eventClass)}) }}"
               class="btn btn-default">{{ 'app.event.reschedule'|trans }}</a>
            <a href="#" class="btn btn-default">{{ 'app.appointment.book_again'|trans }}</a>
            <a href="#" class="btn btn-danger">{{ 'app.action.delete'|trans }}</a>
        </div>

    </div>
</div>
