{% import "@App/macros.html.twig" as macros %}
<form name="{{ form.vars.name }}" method="post" class="app-manual-communication-form"
      action="{{ entity.id ? path('manual_communication_update',{'id':app_hash(entity)}) : path('manual_communication_create') }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {% if entity.id is null %}

        {% if form.patient is defined %}
            {{ macros.horizontalRow(form.patient) }}
        {% endif %}

    {% endif %}

    <div class="communication-type-container {{ entity.id is null ? '' : 'display-none' }} ">
        {{ macros.horizontalRow(form.communicationType) }}
    </div>

    <div class="sms-container display-none">
        {{ macros.horizontalRow(form.sms) }}
    </div>

    <div class="subject-container display-none">
        {{ macros.horizontalRow(form.subject) }}
    </div>

    <div class="message-container display-none">
        {{ macros.horizontalRow(form.message) }}
    </div>

    {% if form.manualCommunicationAttachments is defined %}
        <div class="attachment-container display-none">
            {% include "@App/ManualCommunicationAttachment/updateManualCommunicationAttachmentList.html.twig" %}
        </div>
    {% elseif entity.manualCommunicationAttachments|length > 0 %}
        <div class="row no-gutter margin-top-5 margin-bottom-5">
            <div class="col-md-3 margin-top-5 text-right">
                <strong>{{ 'app.attachment.plural_label'|trans }}</strong>
            </div>
            <div class="col-md-9">
                {% for attachment in entity.manualCommunicationAttachments %}
                    <div class="form-group">
                        <a href="{{ path('communication_attachment_download', {"id":app_hash(attachment)}) }}"
                           target="_blank">{{ attachment.originFileName }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="app-buttons-placeholder">
        {% include "@App/ManualCommunication/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
