<form action="{{ path('calendar_settings_update') }}" class="app-settings-calendar-form fos_user_change_password"
      method="post" {{ form_enctype(form) }} >

    {{ form_row(form.workDayStart) }}
    {{ form_row(form.workDayEnd) }}
    {{ form_row(form.timeInterval) }}
    {{ form_row(form.resources) }}

    <button type="submit" onclick="$('form.app-settings-calendar-form:first').trigger('submit'); return false;"
            class="btn btn-success">{{ 'app.action.save'|trans }}</button>

    {{ form_rest(form) }}
    {{ form_end(form, {'render_rest': false}) }}
