{% extends 'inner.html.twig' %}

{% block header %}
    {{ entity }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <input type="submit" value="{{ 'app.action.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ path('treatment_note_template_view',{'id':entity.id}) }}" class="btn btn-default">{{ 'app.action.cancel'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.general'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
