{% extends 'inner.html.twig' %}

{% block header %}
    {{ entity.id ? entity : 'app.treatment_note_template.new'|trans }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            {% set cancelPath = entity.id ? path('treatment_note_template_view', {'id':app_hash(entity)}) : path('treatment_note_template_index') %}
            <input type="submit" value="{{ 'app.action.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ cancelPath }}" class="btn btn-default">{{ 'app.action.cancel'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.general'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_row(form.name) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
