{% extends 'inner.html.twig' %}

{% block header %}
    {{ entity }}
{% endblock %}

{% block body %}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            <a href="{{ path('treatment_note_template_update', { 'id': app_hash(entity) }) }}" class="btn btn-primary">{{ 'app.treatment_note_template.edit'|trans }}</a>
            <a data-href="{{ path('treatment_note_template_delete', { 'id': app_hash(entity) }) }}" class="btn btn-danger" data-toggle="delete-confirmation">{{ 'app.treatment_note_template.delete'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.general'|trans }}
        {% endblock %}
    {% endembed %}

    <div><span class="fieldLabel">{{ 'app.treatment_note_template.name'|trans }}:</span> {{ entity.name }}</div>

{% endblock %}
