{% extends '@App/Patient/layout.html.twig' %}

{% block header %}
    {{ entity.id ? entity : 'app.attachment.new'|trans }}
{% endblock %}

{% block body %}

    {{ form_start(form) }}

    {% embed "buttons.html.twig" %}
        {% block buttons %}
            {% set cancelPath = path('patient_attachment_index', {'id':patient.id}) %}
            <input type="submit" value="{{ 'app.action.save'|trans }}" class="btn btn-primary"/>
            <a href="{{ cancelPath }}" class="btn btn-default">{{ 'app.action.cancel'|trans }}</a>
        {% endblock %}
    {% endembed  %}

    {% embed "subheading.html.twig" %}
        {% block subheading %}
            {{ 'app.attachment.file_choose'|trans }}
        {% endblock %}
    {% endembed %}

    {{ form_widget(form.file) }}

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
