<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">
                {{ 'app.unavailable_block.label' |trans }}
            </h4>
            <div class="appt-time">
                {{ entity.start|app_date_and_week_day_full }}
                <span>{{ 'app.event.at'|trans }}</span> {{ entity.start|app_time }}
                <span>{{ 'app.event.for'|trans }}</span> {{ entity.getDurationInMinutes }} {{ 'app.event.minutes'|trans }}
            </div>
        </div>

        <div class="modal-body">
            <div class="row">

                <div class="col-md-12">
                    {#
                    <div class="appt-info">
                        {% if entity.description %}
                            <div class="appt-note">
                                {{ entity.description }}
                            </div>
                        {% else %}
                            {{ 'app.unavailable_block.no_description'|trans }}
                        {% endif %}
                    </div>
                    #}
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default app-unavailable-block-edit"
                    data-entity-id="{{ app_hash(entity, eventClass) }}">{{ 'app.action.edit'|trans }}</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'app.action.cancel'|trans }}</button>
            <button type="button" class="btn btn-default">{{ 'app.event.reschedule'|trans }}</button>
            <button type="button" class="btn btn-danger">{{ 'app.action.delete'|trans }}</button>
        </div>

    </div>
</div>
