{% import '@App/macros.html.twig' as macros %}

<form name="{{ form.vars.name }}" method="post" class="app-refund-noninvoice-form"
      action="{{ entity.id ? (path('refund_noninvoice_update', {'id':app_hash(entity)})) : (path('refund_noninvoice_create')) }}" {{ form_enctype(form) }} >
    {# form_start(form) #}

    {{ form_row(form.reason) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.paymentMethod) }}

    <div class="app-buttons-placeholder">
        {% include "@App/NonInvoiceRefund/include/buttons.html.twig" %}
    </div>

    {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
